Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black --line-length=120
      language: system
      files: \.py$
      stages: [pre-commit]
      types: [python]
    - id: pylint
      name: PyLint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      args: [
        "--rcfile=.pylintrc"
      ]
      stages: [pre-commit]
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ pre-commit ]
    - id: sphinx-checking
      name: Checking Sphinx building
      entry: python setup.py build_sphinx
      language: system
      files: ^(doc/.*|pandora2d/.*)$
      pass_filenames: False
      stages: [ pre-push ]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout

feat: save data to `disparity_map` subdir
  pandora2d/common.py
  tests/functional_tests/target_grid/test_georeferencement.py
  tests/functional_tests/test_pipelines.py
  tests/performance_tests/refinement/dichotomy/test_dichotomy_performance.py
  tests/unit_tests/test_common.py
Due: black, pylint, mypy, sphinx-checking

doc: describe output tree structure
  docs/source/userguide/output.rst
Due: none

test: add test to check change disparity to index and reverse opertation
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

fix: disparity to index with subpix on cost_volume
  pandora2d/refinement/dichotomy_cpp.py
Due: black, pylint, mypy, sphinx-checking

feat: relative path in config are relative to config file location
  data_samples/json_conf_files/a_basic_pipeline.json
  data_samples/json_conf_files/a_dichotomy_pipeline.json
  data_samples/json_conf_files/a_dichotomy_python_pipeline.json
  data_samples/json_conf_files/a_variable_disparity_pipeline.json
  data_samples/json_conf_files/an_estimation_pipeline.json
  pandora2d/__init__.py
  pandora2d/common.py
  tests/conftest.py
  tests/functional_tests/test_pipelines.py
  tests/unit_tests/test_common.py
Due: black, pylint, mypy, sphinx-checking

tests(performance): fix missign output key in config
  tests/performance_tests/conftest.py
  tests/performance_tests/matching_cost/test_mutual_information_performance.py
Due: black, pylint, mypy

tests(resource): fix missign output key in config
  tests/resource_tests/test_pandora2d.py
Due: black, pylint, mypy

feat: add attributes.json file
  pandora2d/common.py
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: add functional test for attributes.json file
  tests/functional_tests/matching_cost/test_subpix.py
  tests/functional_tests/test_pipelines.py
Due: black, pylint, mypy

test: update unit tests for save_dataset method
  tests/unit_tests/test_common.py
Due: black, pylint, mypy

docs: update documentation with attributes.json
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/output.rst
Due: none

test: move georeferencement fixtures to conftest
  tests/functional_tests/conftest.py
  tests/functional_tests/target_grid/test_georeferencement.py
Due: black, pylint, mypy

feat: create a new encoder for json
  pandora2d/common.py
Due: black, pylint, mypy, sphinx-checking

doc: add favicon
  docs/source/Images/logo/favicon.ico
  docs/source/conf.py
Due: black, pylint, mypy

fix readthedocs CI install with a new docs requirements install file to avoid compilation
  .readthedocs.yml
  docs/requirements.txt
  pyproject.toml
Due: none

docs: avoid sphinx warnings when build without ipython3 (notebooks dependencies)
  docs/source/userguide/faq.rst
Due: none

doc: add Mutual information
  docs/source/Images/complete_histogram2D_how_to.drawio.svg
  docs/source/Images/histogram.drawio.svg
  docs/source/Images/simple_histogram2D_how_to.drawio.svg
  docs/source/exploring_the_field.rst
  docs/source/exploring_the_field/Images/pandora2d.gif
  docs/source/exploring_the_field/matching_cost.rst
  docs/source/userguide/step_by_step/matching_cost.rst
Due: none

fix: update typo for mutual information
  pandora2d/matching_cost_cpp/include/operation.hpp
  pandora2d/matching_cost_cpp/src/histogram1D.cpp
  pandora2d/matching_cost_cpp/src/operation.cpp
  tests/unit_tests/test_cpp/conftest.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram1D.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_operation.cpp
Due: sphinx-checking

feat: move cost_volume type from double to float
  pandora2d/refinement/dichotomy_cpp.py
  pandora2d/refinement_cpp/include/dichotomy.hpp
  pandora2d/refinement_cpp/src/dichotomy.cpp
Due: black, pylint, mypy, sphinx-checking

test: update test with new cost_volume type
  tests/unit_tests/test_cpp/conftest.hpp
  tests/unit_tests/test_cpp/test_refinement/test_dichotomy.cpp
Due: none

feat: remove copy on the binding call
  pandora2d/refinement/dichotomy_cpp.py
  pandora2d/refinement_cpp/include/dichotomy.hpp
  pandora2d/refinement_cpp/src/bind.cpp
  pandora2d/refinement_cpp/src/dichotomy.cpp
Due: black, pylint, mypy, sphinx-checking

test: update meson for new version of cost_volume for cpp test
  tests/unit_tests/test_cpp/test_refinement/meson.build
Due: none

test: update get_cost_surface tests
  meson.build
  tests/unit_tests/test_cpp/test_refinement/meson.build
  tests/unit_tests/test_cpp/test_refinement/test_dichotomy.cpp
Due: none

feat: templatization of get_cost_surface and compute_dichotomy function
  pandora2d/disparity/disparity.py
  pandora2d/refinement/dichotomy_cpp.py
  pandora2d/refinement_cpp/include/dichotomy.hpp
  pandora2d/refinement_cpp/refinement_bind.pyi
  pandora2d/refinement_cpp/src/bind.cpp
  pandora2d/refinement_cpp/src/dichotomy.cpp
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy, sphinx-checking

feat(chore): update meson for python dependency
  meson.build
Due: none

feat: add apply_peak_on_edge_method
  pandora2d/criteria.py
Due: black, pylint, mypy, sphinx-checking

fix: correct disp map order in test_common.py
  tests/unit_tests/test_common.py
Due: black, pylint, mypy

feat: call aply_peak_on_edge in state_machine
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: add unit tests for apply_peak_on_edge method
  tests/unit_tests/test_criteria.py
Due: black, pylint, mypy

chore(build): skip building cpp tests when not in dev
  Makefile
  meson.build
  meson.options
  pyproject.toml
Due: none

chore: add precommit to format meson.build files
  .pre-commit-config.yaml
  meson.build
  pandora2d/interpolation_filter_cpp/meson.build
  pandora2d/matching_cost_cpp/meson.build
  pandora2d/refinement_cpp/meson.build
  tests/unit_tests/test_cpp/test_interpolation_filter/meson.build
  tests/unit_tests/test_cpp/test_matching_cost/meson.build
  tests/unit_tests/test_cpp/test_refinement/meson.build
Due: sphinx-checking

feat: update hist2d computation for when nb_bins is too big
  pandora2d/matching_cost_cpp/src/histogram2D.cpp
Due: sphinx-checking

test: add test for hist2D with images with 120 bins
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram2D.cpp
Due: none

fix: update json encoder
  pandora2d/common.py
  pandora2d/reporting.py
Due: black, pylint, mypy, sphinx-checking

feat(criteria): add is_in method
  pandora2d/constants.py
  tests/unit_tests/test_criteria.py
Due: black, pylint, mypy, sphinx-checking

feat(criteria): store Criteria as unint8
  pandora2d/constants.py
  pandora2d/criteria.py
  tests/unit_tests/test_criteria.py
Due: black, pylint, mypy, sphinx-checking

feat(criteria): add FlagArray
  pandora2d/criteria.py
  tests/unit_tests/test_criteria.py
Due: black, pylint, mypy, sphinx-checking

doc(notebook): add notebook about Criteria usage
  notebooks/advanced_examples/criteria.ipynb
Due: none

feat: fix right mask with subpix and add temporary get_validity_mask
  pandora2d/criteria.py
Due: black, pylint, mypy, sphinx-checking

feat: add validity_mask in dataset_disp_maps
  pandora2d/common.py
  pandora2d/disparity/disparity.py
  pandora2d/img_tools.py
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking
