Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking, meson

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black --line-length=120
      language: system
      files: \.py$
      stages: [pre-commit]
      types: [python]
    - id: pylint
      name: PyLint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      args: [
        "--rcfile=.pylintrc"
      ]
      stages: [pre-commit]
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ pre-commit ]
    - id: sphinx-checking
      name: Checking Sphinx building
      entry: python setup.py build_sphinx
      language: system
      files: ^(doc/.*|pandora2d/.*)$
      pass_filenames: False
      stages: [ pre-push ]
    - id: meson
      name: meson
      language: python
      entry: meson format -e -i
      files: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
      additional_dependencies: ['meson==1.6.1']
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.4
    hooks:
    - id: clang-format
      types_or: [c++, c, cuda]

fix: update coordinate when we use ROI and right mask
  pandora2d/criteria.py
Due: black, pylint, mypy, sphinx-checking

test: add tests for apply_right_criteria_mask function
  tests/unit_tests/test_criteria/conftest.py
  tests/unit_tests/test_criteria/test_data_array/test_apply_right_criteria_mask.py
Due: black, pylint, mypy

fix: validity_mask with refinement margins
  pandora2d/criteria.py
  pandora2d/state_machine.py
  tests/unit_tests/test_criteria/test_validity_mask/conftest.py
  tests/unit_tests/test_criteria/test_validity_mask/test_validity_mask_band.py
Due: black, pylint, mypy, sphinx-checking

tests: update all tests with new API for get_validity_dataset
  tests/unit_tests/test_common.py
  tests/unit_tests/test_criteria/test_validity_mask/conftest.py
  tests/unit_tests/test_criteria/test_validity_mask/test_allocate_validity_dataset.py
  tests/unit_tests/test_criteria/test_validity_mask/test_get_validity_dataset.py
  tests/unit_tests/test_criteria/test_validity_mask/test_left_border.py
  tests/unit_tests/test_criteria/test_validity_mask/test_left_invalid.py
  tests/unit_tests/test_criteria/test_validity_mask/test_left_nodata.py
  tests/unit_tests/test_criteria/test_validity_mask/test_right_disparity_outside.py
  tests/unit_tests/test_criteria/test_validity_mask/test_right_invalid.py
  tests/unit_tests/test_criteria/test_validity_mask/test_right_nodata.py
  tests/unit_tests/test_criteria/test_validity_mask/test_validity_mask_band.py
  tests/unit_tests/test_memory_estimation.py
  tests/unit_tests/test_refinement/test_dichotomy.py
  tests/unit_tests/test_refinement/test_optical_flow.py
Due: black, pylint, mypy

chore(makefile): fix cppcheck configuration
  Makefile
  meson.build
  pyproject.toml
  sonar-project.properties
Due: meson

chore(makefile): determine build-dir used by meson-python
  Makefile
Due: none

chore(sonar): fix CXX property names
  sonar-project.properties
Due: none

chore(makefile): install cppcheck in venv before meson setup
  Makefile
Due: none

chore(meson): avoid install failure in absence of cppcheck
  meson.build
Due: meson

chore(makefile): fix venv activation in install target
  Makefile
Due: none

chore(makefile): fix C++ coverage
  Makefile
  sonar-project.properties
Due: none

fix: update to the creation of mask_criteria_right
  pandora2d/criteria.py
Due: black, pylint, mypy, sphinx-checking

feat: add setup logger to be able to see infos when a warning is raised
  pandora2d/Pandora2d.py
  pandora2d/__init__.py
Due: black, pylint, mypy, sphinx-checking

feat: add warning when using dichotomy with subpix equal to 1
  pandora2d/check_configuration.py
  tests/conftest.py
  tests/functional_tests/conftest.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy, sphinx-checking

docs: add cost volume confidence output in documentation
  docs/source/userguide/output.rst
Due: none

docs: add warning about using dichotomy with subpix equal to 1
  docs/source/userguide/step_by_step/refinement.rst
Due: none

feat: set subpix to 2 when using dichotomy in json files
  data_samples/json_conf_files/a_dichotomy_python_pipeline.json
  data_samples/json_conf_files/a_variable_disparity_pipeline.json
  data_samples/json_conf_files/an_estimation_pipeline.json
Due: none

chore(Makefile): fix missing target dependency
  Makefile
Due: none

feat(common): save dataset with nodata tif attribute and band name set
  pandora2d/common.py
  tests/unit_tests/test_common.py
Due: black, pylint, mypy, sphinx-checking

fix: disable NotGeoreferencedWarning
  pandora2d/__init__.py
  pandora2d/common.py
Due: black, pylint, mypy, sphinx-checking

CHANGELOG.md update
  CHANGELOG.md
Due: none

AUTHORS.md update
  AUTHORS.md
Due: none

doc: remove interpolation method
  docs/source/exploring_the_field/refining_disparity.rst
Due: none

feat: add function to check cost_surface using by filter
  pandora2d/refinement/dichotomy_cpp.py
Due: black, pylint, mypy, sphinx-checking

feat: update dichotomy python to check cost_surface using by filter
  pandora2d/refinement/dichotomy.py
  pandora2d/refinement/dichotomy_cpp.py
  pandora2d/refinement_cpp/include/dichotomy.hpp
  pandora2d/refinement_cpp/refinement_bind.pyi
  pandora2d/refinement_cpp/src/bind.cpp
Due: black, pylint, mypy, sphinx-checking

test: added missing docstrings
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

test: add test for invalid element on fiter area
  tests/unit_tests/test_refinement/conftest.py
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

feat: rename offset attribute to origin_coordinates
  pandora2d/__init__.py
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: update attribute name to origin_coordinates
  tests/functional_tests/test_pipelines.py
  tests/unit_tests/test_common.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

docs: update attribute name to origin_coordinates
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/output.rst
Due: none

fix: correct sonarqube errors on cpp code
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/include/zncc.hpp
Due: sphinx-checking

add GitLab CI/CD
  .coveragerc
  .gitlab-ci.yml
  Makefile
  mypy.ini
  pyproject.toml
  sonar-project.properties
Due: none

fix: change github-push ci credentials
  .gitlab-ci.yml
Due: none

feat: update code for right_nodata criteria
  pandora2d/criteria.py
  pandora2d/matching_cost/base.py
Due: black, pylint, mypy, sphinx-checking

fix: update and add __init__.py file for tests
  tests/__init__.py
Due: black, pylint, mypy

test: update test for P2D_RIGHT_NODATA criteria
  tests/unit_tests/test_criteria/conftest.py
  tests/unit_tests/test_criteria/test_data_array/test_apply_right_criteria_mask.py
  tests/unit_tests/test_criteria/test_data_array/test_mask_right_nodata.py
  tests/unit_tests/test_criteria/test_validity_mask/test_right_nodata.py
  tests/unit_tests/test_criteria/test_validity_mask/test_validity_mask_band.py
  tests/unit_tests/test_matching_cost/test_matching_cost_allocate.py
Due: black, pylint, mypy

feat: update apply_right_criteria_mask for P2D_INVALID_MASK_RIGHT criterion
  pandora2d/criteria.py
Due: black, pylint, mypy, sphinx-checking

doc: update nodata and invalid right criteria
  docs/source/exploring_the_field/validity_criteria.rst
Due: none

test: update test to apply new method for P2D_INVALID_MASK_RIGHT criterion for float disparities
  tests/unit_tests/test_criteria/test_data_array/test_mask_right_invalid.py
  tests/unit_tests/test_criteria/test_validity_mask/test_validity_mask_band.py
Due: black, pylint, mypy

remove apply_right_criteria_mask test
  tests/unit_tests/test_criteria/test_data_array/test_apply_right_criteria_mask.py
Due: black, pylint, mypy
