Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black --line-length=120
      language: system
      files: \.py$
      stages: [pre-commit]
      types: [python]
    - id: pylint
      name: PyLint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      args: [
        "--rcfile=.pylintrc"
      ]
      stages: [pre-commit]
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ pre-commit ]
    - id: sphinx-checking
      name: Checking Sphinx building
      entry: python setup.py build_sphinx
      language: system
      files: ^(doc/.*|pandora2d/.*)$
      pass_filenames: False
      stages: [ pre-push ]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout

feat: update meson build for cost volumes computation in cpp
  pandora2d/matching_cost_cpp/meson.build
  tests/unit_tests/test_cpp/test_matching_cost/meson.build
Due: sphinx-checking

test(common): use tmp dir fixture in save_dataset tests
  tests/conftest.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_common.py
Due: black, pylint, mypy

feat(common): save dataset with variables' names
  pandora2d/common.py
  tests/functional_tests/target_grid/test_georeferencement.py
  tests/functional_tests/test_pipelines.py
  tests/performance_tests/refinement/dichotomy/test_dichotomy_performance.py
  tests/unit_tests/test_common.py
Due: black, pylint, mypy, sphinx-checking

feat: add binding for mutual information
  pandora2d/matching_cost_cpp/__init__.py
  pandora2d/matching_cost_cpp/matching_cost_bind.pyi
  pandora2d/matching_cost_cpp/meson.build
  pandora2d/matching_cost_cpp/src/bind.cpp
Due: black, pylint, mypy, sphinx-checking

feat: use binding in compute_cost_volumes
  pandora2d/matching_cost/mutual_information.py
Due: black, pylint, mypy, sphinx-checking

feat: update cpp code for mutual information
  pandora2d/matching_cost_cpp/include/cost_volumes.hpp
  pandora2d/matching_cost_cpp/src/cost_volumes.cpp
Due: sphinx-checking

test: add unit tests for cpp mutual information in python
  tests/unit_tests/test_matching_cost/conftest.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy

test: add functional tests for mutual information
  tests/functional_tests/matching_cost/test_mutual_information.py
Due: black, pylint, mypy

test: add new tests for cpp mutual information
  tests/unit_tests/test_cpp/test_matching_cost/test_cost_volumes.cpp
Due: none

test: add mutual information method in resource tests
  tests/resource_tests/test_pandora2d.py
Due: black, pylint, mypy

test: templatization of check_insige_eigen_element
  tests/unit_tests/test_cpp/conftest.cpp
  tests/unit_tests/test_cpp/conftest.hpp
  tests/unit_tests/test_cpp/test_matching_cost/meson.build
  tests/unit_tests/test_cpp/test_matching_cost/test_cost_volumes.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram1D.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram2D.cpp
Due: none

feat: add compute_dichotomy cpp method
  meson.build
  pandora2d/refinement_cpp/include/dichotomy.hpp
  pandora2d/refinement_cpp/meson.build
  pandora2d/refinement_cpp/src/dichotomy.cpp
Due: sphinx-checking

test: add unit test for dichotomy cpp
  tests/unit_tests/test_cpp/meson.build
  tests/unit_tests/test_cpp/test_refinement/meson.build
  tests/unit_tests/test_cpp/test_refinement/test_dichotomy.cpp
Due: none

feat: update for sonarqube
  pandora2d/refinement_cpp/include/dichotomy.hpp
Due: sphinx-checking

test: add python test for dichotomy cpp
  tests/functional_tests/matching_cost/test_disparity_margins.py
  tests/functional_tests/refinement/dichotomy/test_dichotomy_pipeline.py
  tests/functional_tests/test_pipelines.py
  tests/performance_tests/refinement/dichotomy/test_dichotomy_performance.py
  tests/resource_tests/test_pandora2d.py
  tests/unit_tests/test_pandora2d.py
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

bug: comment cardinal sine test because failed without explication
  tests/functional_tests/refinement/dichotomy/test_dichotomy_pipeline.py
  tests/resource_tests/test_pandora2d.py
Due: black, pylint, mypy

add stub file
  pandora2d/refinement_cpp/refinement_bind.pyi
Due: sphinx-checking

notebook: add cpp version
  notebooks/usage_dichotomy.ipynb
Due: none

feat: add binding for dichotomy
  pandora2d/refinement_cpp/include/dichotomy.hpp
  pandora2d/refinement_cpp/meson.build
  pandora2d/refinement_cpp/src/bind.cpp
Due: sphinx-checking

feat: update dichotomy_cpp python
  pandora2d/interpolation_filter/interpolation_filter.py
  pandora2d/refinement/dichotomy_cpp.py
  pandora2d/refinement_cpp/__init__.py
Due: black, pylint, mypy, sphinx-checking

fix: update error message for find_or_throw function
  pandora2d/interpolation_filter_cpp/src/cardinal_sine.cpp
  tests/unit_tests/test_cpp/test_interpolation_filter/test_cardinal_sine.cpp
Due: sphinx-checking

fix: bug on performance test with cardinal sine
  pandora2d/matching_cost/pandora.py
Due: black, pylint, mypy, sphinx-checking

test: update change dichotomy_cpp to dichotomy
  pandora2d/refinement/dichotomy_cpp.py
  tests/functional_tests/conftest.py
  tests/functional_tests/test_pipelines.py
  tests/unit_tests/test_refinement/conftest.py
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy, sphinx-checking

docs: update documentation with dichotomy cpp
  docs/source/exploring_the_field/refining_disparity.rst
  docs/source/userguide/step_by_step/refinement.rst
Due: none

feat: add config files with dichotomy python and cpp
  data_samples/json_conf_files/a_dichotomy_python_pipeline.json
  data_samples/json_conf_files/an_estimation_pipeline.json
Due: none

notebook: update notebooks with dichotomy cpp
  notebooks/advanced_examples/test_margins.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/usage_dichotomy.ipynb
  notebooks/usage_step_roi_config.ipynb
Due: none

test: add performance tests for mutual information
  tests/performance_tests/matching_cost/test_mutual_information_performance.py
Due: black, pylint, mypy

test: add conftest file for performance tests
  tests/performance_tests/__init__.py
  tests/performance_tests/conftest.py
Due: black, pylint, mypy

test: update dichotomy performance tests
  tests/performance_tests/refinement/dichotomy/test_dichotomy_performance.py
Due: black, pylint, mypy

test: add new medicis data to compare with p2d for mi
  tests/performance_tests/refinement/dichotomy/data_medicis/T19KER/r+0.00c+0.50/mi/gri_resultat_col_disp.tif
  tests/performance_tests/refinement/dichotomy/data_medicis/T19KER/r+0.00c+0.50/mi/gri_resultat_row_disp.tif
  tests/performance_tests/refinement/dichotomy/data_medicis/T19KER/r+0.00c-0.25/mi/gri_resultat_col_disp.tif
  tests/performance_tests/refinement/dichotomy/data_medicis/T19KER/r+0.00c-0.25/mi/gri_resultat_row_disp.tif
  tests/performance_tests/refinement/dichotomy/data_medicis/T50JML/r+0.00c+0.50/mi/gri_resultat_col_disp.tif
  tests/performance_tests/refinement/dichotomy/data_medicis/T50JML/r+0.00c+0.50/mi/gri_resultat_row_disp.tif
  tests/performance_tests/refinement/dichotomy/data_medicis/T50JML/r+0.00c-0.25/mi/gri_resultat_col_disp.tif
  tests/performance_tests/refinement/dichotomy/data_medicis/T50JML/r+0.00c-0.25/mi/gri_resultat_row_disp.tif
Due: none

fix: update pylint for CI
  tests/functional_tests/conftest.py
  tests/functional_tests/matching_cost/test_mutual_information.py
  tests/functional_tests/refinement/dichotomy/test_dichotomy_pipeline.py
  tests/functional_tests/test_pipelines.py
  tests/performance_tests/conftest.py
  tests/performance_tests/refinement/dichotomy/test_dichotomy_performance.py
  tests/resource_tests/test_pandora2d.py
  tests/unit_tests/test_refinement/conftest.py
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

feat(config)!: add mandatory output key
  pandora2d/Pandora2d.py
  pandora2d/__init__.py
  pandora2d/check_configuration.py
  pandora2d/profiling.py
  tests/conftest.py
  tests/functional_tests/matching_cost/test_mutual_information.py
  tests/functional_tests/refinement/dichotomy/test_dichotomy_pipeline.py
  tests/functional_tests/target_grid/test_georeferencement.py
  tests/functional_tests/test_pipelines.py
  tests/performance_tests/refinement/dichotomy/test_dichotomy_performance.py
  tests/unit_tests/test_check_configuration.py
  tests/unit_tests/test_common.py
  tests/unit_tests/test_criteria.py
Due: black, pylint, mypy, sphinx-checking

chore(pylint): fix tests/__init__.py not found
  Makefile
Due: none

doc: add output entry in config examples
  data_samples/json_conf_files/a_basic_pipeline.json
  data_samples/json_conf_files/a_dichotomy_pipeline.json
  data_samples/json_conf_files/a_variable_disparity_pipeline.json
  data_samples/json_conf_files/an_estimation_pipeline.json
  docs/source/getting_started.rst
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/expert_mode.rst
  docs/source/userguide/faq.rst
  docs/source/userguide/input.rst
  docs/source/userguide/output.rst
  docs/source/userguide/overview.rst
  docs/source/userguide/roi.rst
  docs/source/userguide/sequencing.rst
  docs/source/userguide/step_by_step/disparity.rst
  docs/source/userguide/step_by_step/estimation.rst
  docs/source/userguide/step_by_step/matching_cost.rst
  docs/source/userguide/step_by_step/refinement.rst
  notebooks/advanced_examples/test_margins.ipynb
  notebooks/estimation_step_explained.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/usage_dichotomy.ipynb
  notebooks/usage_step_roi_config.ipynb
Due: none

doc: rename output disparity files
  docs/source/userguide/output.rst
Due: none

chore(pylint): remove unrecognised disables
  tests/unit_tests/test_refinement/conftest.py
Due: black, pylint, mypy

feat: add save_config function
  pandora2d/__init__.py
  pandora2d/common.py
  tests/unit_tests/test_common.py
Due: black, pylint, mypy, sphinx-checking

style: sort imports in common.py
  pandora2d/common.py
Due: black, pylint, mypy, sphinx-checking

feat(common): add save_disparity_maps function
  docs/source/userguide/as_an_api.rst
  pandora2d/__init__.py
  pandora2d/common.py
  tests/unit_tests/test_common.py
Due: black, pylint, mypy, sphinx-checking
