Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking, meson

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black --line-length=120
      language: system
      files: \.py$
      stages: [pre-commit]
      types: [python]
    - id: pylint
      name: PyLint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      args: [
        "--rcfile=.pylintrc"
      ]
      stages: [pre-commit]
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ pre-commit ]
    - id: sphinx-checking
      name: Checking Sphinx building
      entry: python setup.py build_sphinx
      language: system
      files: ^(doc/.*|pandora2d/.*)$
      pass_filenames: False
      stages: [ pre-push ]
    - id: meson
      name: meson
      language: python
      entry: meson format -e -i
      files: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
      additional_dependencies: ['meson==1.6.1']
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.4
    hooks:
    - id: clang-format
      types_or: [c++, c, cuda]

update docs source conf.py
  docs/source/conf.py
Due: black, pylint, mypy

fix: disable cost volume confidence tests on windows
  docs/source/userguide/step_by_step/cost_volume_confidence.rst
  tests/functional_tests/test_cost_volume_confidence.py
  tests/functional_tests/test_memory_estimation.py
Due: black, pylint, mypy

fix: correct image docker gitlab ci
  .gitlab-ci.yml
Due: none

fix: correct mypy and pylint errors
  src/pandora2d/Pandora2d.py
  src/pandora2d/cost_volume_confidence/ambiguity.py
  src/pandora2d/img_tools.py
  tests/conftest.py
Due: black, pylint, mypy

fix: reentry as a boolean
  src/pandora2d/__init__.py
  src/pandora2d/img_tools.py
  src/pandora2d/memory_estimation.py
  tests/unit_tests/test_img_tools/test_create_datasets_from_input.py
  tests/unit_tests/test_img_tools/test_get_initial_disparity.py
  tests/unit_tests/test_img_tools/test_get_roi_processing.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

test: reproduce get_roi_processing margins bug with outlier grid
  tests/unit_tests/test_img_tools/test_get_roi_processing.py
Due: black, pylint, mypy

test: get_roi_processing when from_previous_run=True
  tests/unit_tests/test_img_tools/test_get_roi_processing.py
Due: black, pylint, mypy

test: centered ROI fixture
  src/pandora2d/img_tools.py
  src/pandora2d/memory_estimation.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_img_tools/test_get_initial_disparity.py
  tests/unit_tests/test_img_tools/test_get_roi_processing.py
Due: black, pylint, mypy

test: reuse of the fixtures centered_roi and border_outliers_grid_data
  tests/unit_tests/conftest.py
  tests/unit_tests/test_img_tools/test_get_initial_disparity.py
Due: black, pylint, mypy

fix: pylint and mypy
  tests/unit_tests/test_img_tools/test_get_initial_disparity.py
Due: black, pylint, mypy

doc - add doi to README
  README.md
Due: none

fix: correct mypy config after new version
  mypy.ini
Due: none

fix: correct mypy errors after upgrading the version
  src/pandora2d/estimation/estimation.py
  src/pandora2d/interpolation_filter/bicubic_cpp.py
  src/pandora2d/interpolation_filter/cardinal_sine_cpp.py
  src/pandora2d/interpolation_filter/interpolation_filter.py
  src/pandora2d/refinement/dichotomy.py
Due: black, pylint, mypy

test: Add data_samples output config reusability tests with cones images
  tests/functional_tests/conftest.py
  tests/functional_tests/test_pipelines.py
Due: black, pylint, mypy

doc: output config after an estimation pipeline cannot be reused
  docs/source/userguide/step_by_step/estimation.rst
Due: none

doc: harmonize estimation limitation wording across doc and tests
  docs/source/userguide/step_by_step/estimation.rst
  tests/functional_tests/test_pipelines.py
Due: black, pylint, mypy

refactor: reuse mask_path fixture in cones_support_files
  tests/functional_tests/conftest.py
Due: black, pylint, mypy

refactor: simplify nodata guard in transform_config_to_cones
  tests/functional_tests/test_pipelines.py
Due: black, pylint, mypy

test: exclude slow dichotomy python pipeline from reusability parametrize
  tests/functional_tests/test_pipelines.py
Due: black, pylint, mypy

fix: correct reading of initial disparity grids with segment mode
  src/pandora2d/img_tools.py
Due: black, pylint, mypy

test: add unit tests for get_min_max_disp_from_dicts and compute_valid_disparity_grid_index
  tests/unit_tests/test_img_tools/test_create_datasets_from_input.py
Due: black, pylint, mypy

test: add functional test of disparity reentry with segment mode
  tests/functional_tests/test_variable_initial_disparity.py
Due: black, pylint, mypy

test: add new file for get_min_max_disp_from_dicts unit tests
  tests/unit_tests/test_img_tools/test_create_datasets_from_input.py
  tests/unit_tests/test_img_tools/test_get_min_max_disp_from_dicts.py
Due: black, pylint, mypy

fix: run clang-format on cpp files
  src/pandora2d/common_cpp/include/operation.hpp
  src/pandora2d/matching_cost_cpp/include/histogram1D.hpp
  src/pandora2d/matching_cost_cpp/include/mutual_information.hpp
  src/pandora2d/matching_cost_cpp/include/zncc.hpp
  tests/unit_tests/test_cpp/test_common/test_operation.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_bin.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram1D.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram2D.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_mutual_information.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_zncc.cpp
Due: none

fix: compute only useful disparities in compute_cost_volumes_cpp
  src/pandora2d/common.py
  src/pandora2d/criteria.py
  src/pandora2d/matching_cost/correlation.py
  src/pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  src/pandora2d/matching_cost_cpp/matching_cost_bind.pyi
  src/pandora2d/matching_cost_cpp/src/bind.cpp
  src/pandora2d/matching_cost_cpp/src/compute_cost_volumes.cpp
Due: black, pylint, mypy

test: add python unit test to check that out of user range disparities are not computed
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy

test: update tests after adding disparity grids to arguments
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes_mi.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes_zncc.cpp
Due: none

fix: disable reentry json test with ambiguity on windows
  tests/functional_tests/test_pipelines.py
Due: black, pylint, mypy

update documentation conf.py file
  docs/source/conf.py
Due: black, pylint, mypy

update sonar-project.properties
  sonar-project.properties
Due: none

update pandora version in pyproject.toml
  pyproject.toml
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: remove unused config key scale_factors
  src/pandora2d/multiscale/check_configuration.py
  tests/unit_tests/test_multiscale/test_check_conf.py
Due: black, pylint, mypy

docs: add warning about large disparity range in multiscale mode
  docs/source/userguide/multiscale_mode.rst
Due: none

feat: add comments in model estimation methods
  pandora2d/multiscale/model_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat: add new check conf methods
  pandora2d/multiscale/check_configuration.py
  tests/unit_tests/test_multiscale/test_check_conf.py
Due: black, pylint, mypy, sphinx-checking

feat: add method to estimate initial disparity grids
  pandora2d/multiscale/model_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat: add get_init_disparity_grids method
  pandora2d/multiscale/model_estimation.py
  pandora2d/multiscale/multiscale.py
  tests/unit_tests/test_multiscale/test_model_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat: remove invalid disp values from design matrix and observations
  pandora2d/multiscale/model_estimation.py
  tests/unit_tests/test_multiscale/test_model_estimation.py
Due: black, pylint, mypy, sphinx-checking

test: add compression factor in unit tests
  tests/unit_tests/test_multiscale/test_model_estimation.py
Due: black, pylint, mypy
