Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking, meson

black:
  name: black
  entry: black --line-length=120
  language: system
  stages:
  - pre-commit

pylint:
  name: PyLint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --rcfile=.pylintrc
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - pre-commit

sphinx-checking:
  name: Checking Sphinx building
  entry: python setup.py build_sphinx
  language: system
  pass_filenames: false
  stages:
  - pre-push

meson:
  name: meson
  language: python
  entry: meson format -e -i
  additional_dependencies:
  - meson==1.6.1

fix: update projetc with new src directory
  .coveragerc
  Makefile
  docs/source/conf.py
  meson.build
  mypy.ini
  sonar-project.properties
Due: black, pylint, mypy, meson

ci: update artifactory token
  .gitlab-ci.yml
Due: none

ci: add echo to debug
  .gitlab-ci.yml
Due: none

fix: remove uneeded jobs specification
  pyproject.toml
Due: none

doc: typo in API example
  docs/source/userguide/as_an_api.rst
Due: none

ci: add an option to fail if a warning is raised
  .gitlab-ci.yml
Due: none

ci: update build-args option
  .gitlab-ci.yml
Due: none

build with pandora from Git
  .gitlab-ci.yml
Due: none

refact: make check_disparity easier to read
  src/pandora2d/check_configuration.py
  src/pandora2d/common.py
  src/pandora2d/refinement/dichotomy.py
Due: black, pylint, mypy

feat: raise error when disparities' sizes mismatch
  src/pandora2d/check_configuration.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

test: update conftest to extend the tests
  tests/conftest.py
Due: black, pylint, mypy

feat: check step coherence between pipeline section and attributes
  src/pandora2d/check_configuration.py
  tests/conftest.py
  tests/functional_tests/test_pipelines.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

feat: check disparity directory coherence
  src/pandora2d/check_configuration.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

feat: replace disparity directory with grid path
  src/pandora2d/check_configuration.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

feat: check attributes.json presence
  src/pandora2d/check_configuration.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

feat: add directory to disparity checkconf
  src/pandora2d/check_configuration.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

doc: add note about disparity directory
  docs/source/userguide/input.rst
Due: none

lint: remove types in docstrings
  notebooks/snippets/utils.py
  pyproject.toml
  src/pandora2d/__init__.py
  src/pandora2d/check_configuration.py
  src/pandora2d/common.py
  src/pandora2d/cost_volume_confidence/ambiguity.py
  src/pandora2d/cost_volume_confidence/cost_volume_confidence.py
  src/pandora2d/criteria.py
  src/pandora2d/disparity/disparity.py
  src/pandora2d/estimation/estimation.py
  src/pandora2d/estimation/phase_cross_correlation.py
  src/pandora2d/img_tools.py
  src/pandora2d/interpolation_filter/bicubic.py
  src/pandora2d/interpolation_filter/bicubic_cpp.py
  src/pandora2d/interpolation_filter/cardinal_sine.py
  src/pandora2d/interpolation_filter/cardinal_sine_cpp.py
  src/pandora2d/interpolation_filter/interpolation_filter.py
  src/pandora2d/interpolation_filter_cpp/interpolation_filter_bind.pyi
  src/pandora2d/margins.py
  src/pandora2d/matching_cost/base.py
  src/pandora2d/matching_cost/correlation.py
  src/pandora2d/matching_cost/pandora.py
  src/pandora2d/matching_cost_cpp/matching_cost_bind.pyi
  src/pandora2d/memory_estimation.py
  src/pandora2d/profiling.py
  src/pandora2d/refinement/dichotomy.py
  src/pandora2d/refinement/dichotomy_cpp.py
  src/pandora2d/refinement/optical_flow.py
  src/pandora2d/refinement/refinement.py
  src/pandora2d/refinement_cpp/refinement_bind.pyi
  src/pandora2d/reporting.py
  src/pandora2d/state_machine.py
  src/pandora2d/statistics.py
  tests/functional_tests/test_pipelines.py
  tests/functional_tests/test_segment_mode.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_common.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
  tests/unit_tests/test_refinement/test_optical_flow.py
Due: black, pylint, mypy

refact(profiling): split generate_figure into type-specific functions
  src/pandora2d/profiling.py
Due: black, pylint, mypy

fix: error with windows wheel
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

coverage: update to compute coverage with wheel on github CI
  .coveragerc
  .github/workflows/pandora2d_ci.yml
  Makefile
Due: none

ci github: update cibuildwheel version to fix bug with new rasterio version
  .github/workflows/pandora2d_ci.yml
Due: none

feat: add grid mode in output configuration
  src/pandora2d/check_configuration.py
Due: black, pylint, mypy

test: add unit tests for grid mode in output cfg
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

feat: add a json file with grid mode
  data_samples/json_conf_files/a_deformation_grid_pipeline.json
Due: none

test: avoid references between disparities in make_input_cfg fixture
  tests/conftest.py
  tests/unit_tests/test_img_tools/test_create_datasets_from_input.py
Due: black, pylint, mypy

refact(check_conf): check_disparity only needs config as argument and is called by check_conf
  src/pandora2d/check_configuration.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

refact(check_conf): initialize disparty grids with empty
  src/pandora2d/img_tools.py
Due: black, pylint, mypy

feat(img_tools): support origin/step and smaller-than-image disparity grids
  src/pandora2d/img_tools.py
  src/pandora2d/types.py
  tests/conftest.py
  tests/unit_tests/test_img_tools/test_create_datasets_from_input.py
Due: black, pylint, mypy

refact(check_conf): extract load_attributes
  src/pandora2d/check_configuration.py
Due: black, pylint, mypy

feat(check_conf): check that grids with step/origin are inside image boundaries
  src/pandora2d/check_configuration.py
  src/pandora2d/types.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

fix: correct doc build error
  docs/requirements.txt
Due: none

feat: add docstring
  src/pandora2d/check_configuration.py
Due: black, pylint, mypy

test: add memory estimation tests with deformation grid mode
  tests/functional_tests/test_memory_estimation.py
Due: black, pylint, mypy

test: add functional test for deformation grid pipeline
  tests/functional_tests/test_pipelines.py
Due: black, pylint, mypy

test: add unit tests for deformation grid computation
  tests/unit_tests/test_common.py
Due: black, pylint, mypy

feat: add deformation grid computation
  src/pandora2d/common.py
  src/pandora2d/reporting.py
Due: black, pylint, mypy

feat: use disparity grids as roi
  src/pandora2d/check_configuration.py
  src/pandora2d/types.py
Due: black, pylint, mypy

test: add unit tests for disparity grid as roi
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  sphinx-checking: any of: ^(doc/.*|pandora2d/.*)$
  meson: any of: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
