Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking, meson

black:
  name: black
  entry: black --line-length=120
  language: system
  stages:
  - pre-commit

pylint:
  name: PyLint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --rcfile=.pylintrc
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - pre-commit

sphinx-checking:
  name: Checking Sphinx building
  entry: python setup.py build_sphinx
  language: system
  pass_filenames: false
  stages:
  - pre-push

meson:
  name: meson
  language: python
  entry: meson format -e -i
  additional_dependencies:
  - meson==1.6.1

feat: remove criteria P2D_DISPARITY_UNPROCESSED
  pandora2d/constants.py
  pandora2d/criteria.py
  pandora2d/memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat(memory_estimation): add ROI in estimate_total_consumption
  pandora2d/memory_estimation.py
  tests/functional_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

test(memory_estimation): move memory tracer fixture to higher scope
  tests/conftest.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

feat(memory_estimation): add estimate_total_consumption
  pandora2d/memory_estimation.py
  tests/functional_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat(memory_estimation): add segmentation
  pandora2d/memory_estimation.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat(memory_estimation): add margins to memory_per_work
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

refact(memory_estimation): directy pass step parameter to estimate_dataset_disp_map_size
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

chore(mypy): remove deprecated flag
  mypy.ini
Due: none

feat(memory_estimation): better differenciation between Pandora and Pandora2D cost volume estimation
  pandora2d/memory_estimation.py
  tests/functional_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat(memory_estimation): manage user input ROI
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

refact(memory_estimation): merge _estimate_total_consumption into estimate_total_consumption
  pandora2d/memory_estimation.py
  tests/functional_tests/test_memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

fix(img_tools): wrong dtype in row_zoom_img call
  pandora2d/img_tools.py
Due: black, pylint, mypy, sphinx-checking

refact(memory_estimation): make margins mandatory arguments of segment_image_by_rows
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

fix(memory_estimation): take roi margins into account when segment size is computed
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

test(memory_estimation): factorize ROI tests by inheritance
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

fix(memory_estimation): effectively take global_margins into account
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

refact(memory_estimation): improve readability of returned value from estimate_total_consumption
  pandora2d/memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat: add segment mode in main
  pandora2d/__init__.py
  pandora2d/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

fix: remove condition on segment mode cfg in segment_image_by_rows
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

fix: add image margins in refinement check_conf Refs: #290
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: deactivate rasterio NotGeoreferencedWarning warning
  pytest.ini
Due: none

feat: deplace call to remove_roi_margins method
  pandora2d/__init__.py
  pandora2d/common.py
Due: black, pylint, mypy, sphinx-checking

test: add functional tests for segment mode
  tests/conftest.py
  tests/functional_tests/conftest.py
  tests/functional_tests/test_memory_estimation.py
Due: black, pylint, mypy

docs: add note about minimal memory required
  docs/source/userguide/segment_mode.rst
Due: none

fix: takes column step into account for pandora cost volume estimate
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

test: update estimate total memory consumption tests with ROI
  tests/functional_tests/test_memory_estimation.py
Due: black, pylint, mypy

test: optimize functional segment mode tests
  tests/functional_tests/test_memory_estimation.py
Due: black, pylint, mypy

fix: take into account the memory size of the two image datasets
  pandora2d/memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat: replace np.ceil by math.ceil in memory_estimation.py
  pandora2d/memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

test: update segment_image_by_rows test with only 1 row by roi
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

fix: update RELATIVE_ESTIMATION_MARGINS
  pandora2d/memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

fix: modify the number of pandora cost volume from 1 to 2
  pandora2d/memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

test: add tests for estimate total memory consumption with sad method
  tests/functional_tests/test_memory_estimation.py
Due: black, pylint, mypy

fix: update result store directory path without :: for windows wheels
  tests/functional_tests/test_memory_estimation.py
Due: black, pylint, mypy

feat(c++): templatize std_dev
  pandora2d/common_cpp/include/operation.hpp
  pandora2d/common_cpp/src/operation.cpp
  tests/unit_tests/test_cpp/test_common/test_operation.cpp
Due: sphinx-checking

feat(c++): implement ZNCC
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/include/zncc.hpp
  tests/conftest.py
  tests/functional_tests/test_pipelines.py
  tests/performance_tests/matching_cost/test_zncc.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_common.py
  tests/unit_tests/test_cpp/test_matching_cost/meson.build
  tests/unit_tests/test_cpp/test_matching_cost/test_zncc.cpp
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy, sphinx-checking, meson

feat: notebook to illustrate segment mode
  notebooks/usage_segment_mode_and_comparison.ipynb
Due: none

docs: add cost volume confidence documentation
  docs/source/userguide/step_by_step.rst
  docs/source/userguide/step_by_step/cost_volume_confidence.rst
Due: none

feat: add cost volume confidence and ambiguity files
  pandora2d/cost_volume_confidence/__init__.py
  pandora2d/cost_volume_confidence/ambiguity.py
  pandora2d/cost_volume_confidence/cost_volume_confidence.py
  pandora2d/cost_volume_confidence/registry.py
Due: black, pylint, mypy, sphinx-checking

test: add unit tests for ambiguity configuration
  tests/unit_tests/test_cost_volume_confidence/test_ambiguity.py
Due: black, pylint, mypy

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  sphinx-checking: any of: ^(doc/.*|pandora2d/.*)$
  meson: any of: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
