Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking, meson

black:
  name: black
  entry: black --line-length=120
  language: system
  stages:
  - pre-commit

pylint:
  name: PyLint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --rcfile=.pylintrc
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - pre-commit

sphinx-checking:
  name: Checking Sphinx building
  entry: python setup.py build_sphinx
  language: system
  pass_filenames: false
  stages:
  - pre-push

meson:
  name: meson
  language: python
  entry: meson format -e -i
  additional_dependencies:
  - meson==1.6.1

test: add performance test to compare zncc cpp with medicis disparity maps
  tests/performance_tests/data_medicis/T19KER/r+0.00c+0.50/zncc/gri_resultat_col_disp.tif
  tests/performance_tests/data_medicis/T19KER/r+0.00c+0.50/zncc/gri_resultat_row_disp.tif
  tests/performance_tests/data_medicis/T19KER/r+0.00c-0.25/zncc/gri_resultat_col_disp.tif
  tests/performance_tests/data_medicis/T19KER/r+0.00c-0.25/zncc/gri_resultat_row_disp.tif
  tests/performance_tests/data_medicis/T50JML/r+0.00c+0.50/zncc/gri_resultat_col_disp.tif
  tests/performance_tests/data_medicis/T50JML/r+0.00c+0.50/zncc/gri_resultat_row_disp.tif
  tests/performance_tests/data_medicis/T50JML/r+0.00c-0.25/zncc/gri_resultat_col_disp.tif
  tests/performance_tests/data_medicis/T50JML/r+0.00c-0.25/zncc/gri_resultat_row_disp.tif
  tests/performance_tests/matching_cost/test_correlation_performance.py
Due: black, pylint, mypy

test: add segment mode tests with new zncc cpp implementation
  tests/functional_tests/test_memory_estimation.py
Due: black, pylint, mypy

test: add tests for cpp zncc cv computation and reorganize cpp compute cost volumes tests
  tests/unit_tests/test_cpp/test_matching_cost/meson.build
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes_mi.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes_zncc.cpp
Due: meson

test: move zncc python and cpp comparison tests to test_correlation_performance.py
  tests/performance_tests/matching_cost/test_correlation_performance.py
  tests/performance_tests/matching_cost/test_zncc.py
Due: black, pylint, mypy

fix: use double type for zncc computation to avoid rounding errors
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
Due: sphinx-checking

test: add functional tests for zncc cpp
  tests/functional_tests/matching_cost/test_correlation.py
Due: black, pylint, mypy

feat: add zncc implementation with integral images
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/include/zncc.hpp
  tests/unit_tests/test_cpp/test_matching_cost/test_zncc.cpp
Due: sphinx-checking

test: fix typo in test_python_vs_cpp docstring
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy

feat: declare variables before for loop in zncc computation
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/include/zncc.hpp
Due: sphinx-checking

fix: remove useless no_data parameter in compute_cost_volumes_cpp
  pandora2d/matching_cost/correlation.py
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/matching_cost_bind.pyi
  pandora2d/matching_cost_cpp/src/bind.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes_mi.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes_zncc.cpp
Due: black, pylint, mypy, sphinx-checking

docs: add cost volume confidence to sequecing documentation
  docs/source/Images/Pandora2D_pipeline.drawio.svg
  docs/source/Images/Pandora2D_pipeline.png
  docs/source/userguide/sequencing.rst
Due: none

test: add tests for cost volume confidence execution in state machine
  tests/functional_tests/test_pipelines.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

feat: add cost volume confidence in state machine
  pandora2d/__init__.py
  pandora2d/common.py
  pandora2d/cost_volume_confidence/ambiguity.py
  pandora2d/cost_volume_confidence/cost_volume_confidence.py
  pandora2d/cost_volume_confidence/registry.py
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

feat: templatisation of mutual information computation
  pandora2d/common_cpp/include/operation.hpp
  pandora2d/common_cpp/include/pandora2d_type.hpp
  pandora2d/matching_cost/correlation.py
  pandora2d/matching_cost_cpp/include/bin.hpp
  pandora2d/matching_cost_cpp/include/histogram1D.hpp
  pandora2d/matching_cost_cpp/include/histogram2D.hpp
  pandora2d/matching_cost_cpp/include/mutual_information.hpp
  pandora2d/matching_cost_cpp/meson.build
  pandora2d/matching_cost_cpp/src/bin.cpp
  pandora2d/matching_cost_cpp/src/histogram1D.cpp
  pandora2d/matching_cost_cpp/src/histogram2D.cpp
  pandora2d/matching_cost_cpp/src/mutual_information.cpp
Due: black, pylint, mypy, sphinx-checking, meson

test: add tests in float and double for mutual information computation
  tests/unit_tests/test_cpp/global_conftest.cpp
  tests/unit_tests/test_cpp/global_conftest.hpp
  tests/unit_tests/test_cpp/test_matching_cost/conftest.cpp
  tests/unit_tests/test_cpp/test_matching_cost/conftest.hpp
  tests/unit_tests/test_cpp/test_matching_cost/test_bin.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram1D.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram2D.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_mutual_information.cpp
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy

feat: update segment mode config with a smaller memory_per_work
  data_samples/json_conf_files/a_segment_mode_pipeline.json
Due: none

CHANGELOG.md update
  CHANGELOG.md
Due: none

AUTHORS.md update
  AUTHORS.md
Due: none

docs: update documentation with zncc cpp
  docs/source/exploring_the_field/matching_cost.rst
  docs/source/userguide/step_by_step/matching_cost.rst
Due: none

docs: fix some documentation errors
  docs/source/Images/img_pipeline/cv_confidence_step.png
  docs/source/Images/img_pipeline/estimation_step.png
  docs/source/Images/img_pipeline/outputs.png
  docs/source/Images/img_pipeline/refi_step.png
  docs/source/exploring_the_field/validity_criteria.rst
  docs/source/getting_started.rst
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/expert_mode.rst
  docs/source/userguide/faq.rst
  docs/source/userguide/output.rst
  docs/source/userguide/overview.rst
  docs/source/userguide/step_by_step/disparity.rst
  docs/source/userguide/step_by_step/refinement.rst
Due: none

fix: remove warning about dims vs sizes for xarray dataset
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

feat: update json configuration files with new zncc
  data_samples/json_conf_files/a_basic_pipeline.json
  data_samples/json_conf_files/a_dichotomy_pipeline.json
  data_samples/json_conf_files/a_segment_mode_pipeline.json
  data_samples/json_conf_files/a_variable_disparity_pipeline.json
  data_samples/json_conf_files/an_estimation_pipeline.json
Due: none

notebooks: update pandora2d pipeline schema
  notebooks/img/Pandora2D_pipeline.drawio.svg
Due: none

fix: update README.md
  README.md
Due: none

feat(checkconf): add default value to `memory_per_work`
  docs/source/userguide/segment_mode.rst
  pandora2d/check_configuration.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy, sphinx-checking

test: fix compare output with itself
  tests/functional_tests/test_pipelines.py
Due: black, pylint, mypy

feat: add version to CLI and output config
  pandora2d/Pandora2d.py
  pandora2d/__init__.py
  tests/unit_tests/test_pandora2d.py
Due: black, pylint, mypy, sphinx-checking

refact(state_machine): extract check_conf part of the state machine
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

refactor(state_machine): extract shared transition logic into abstract base class
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

doc(notebook): add missing informations
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/usage_segment_mode_and_comparison.ipynb
Due: none

test: add zncc C++
  tests/performance_tests/refinement/dichotomy/test_dichotomy_performance.py
Due: black, pylint, mypy

fix: add spline_order parameter
  pandora2d/matching_cost/correlation.py
Due: black, pylint, mypy, sphinx-checking

fix(configuration): relative path to masks not resolved
  pandora2d/common.py
  tests/unit_tests/test_common.py
Due: black, pylint, mypy, sphinx-checking

fix(state machine): avoid pygraphviz warning by customizing graph engine
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

doc: add new pipeline examples
  data_samples/images/maricopa.zip
  data_samples/json_conf_files/a_basic_pipeline_with_masks.json
  data_samples/json_conf_files/a_basic_pipeline_with_roi.json
Due: none

fix: update segment coordinate with step
  pandora2d/memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

tests: move tests on a new file
  tests/functional_tests/conftest.py
  tests/functional_tests/test_memory_estimation.py
  tests/functional_tests/test_segment_mode.py
Due: black, pylint, mypy

log: add informations about segments (number and coordinate)
  pandora2d/__init__.py
Due: black, pylint, mypy, sphinx-checking

test: add test with segment mode and step
  tests/functional_tests/test_segment_mode.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  sphinx-checking: any of: ^(doc/.*|pandora2d/.*)$
  meson: any of: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
