Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black --line-length=120
      language: system
      files: \.py$
      stages: [pre-commit]
      types: [python]
    - id: pylint
      name: PyLint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      args: [
        "--rcfile=.pylintrc"
      ]
      stages: [pre-commit]
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ pre-commit ]
    - id: sphinx-checking
      name: Checking Sphinx building
      entry: python setup.py build_sphinx
      language: system
      files: ^(doc/.*|pandora2d/.*)$
      pass_filenames: False
      stages: [ pre-push ]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout

test: add functional tests for criteria and validity mask
  tests/functional_tests/test_criteria_pipeline.py
  tests/unit_tests/test_criteria.py
Due: black, pylint, mypy

test: add subpix to right mask tests
  tests/unit_tests/test_criteria.py
Due: black, pylint, mypy

feat: add criteria_dataarray in cv
  pandora2d/matching_cost/mutual_information.py
  pandora2d/matching_cost/pandora.py
Due: black, pylint, mypy, sphinx-checking

test: fix unit tests with new validity mask in dataset_disp_maps
  tests/unit_tests/test_common.py
  tests/unit_tests/test_img_tools/test_remove_roi_margins.py
  tests/unit_tests/test_refinement/test_interpolation.py
  tests/unit_tests/test_refinement/test_optical_flow.py
Due: black, pylint, mypy

docs: add validity maps in documentation
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/output.rst
Due: none

refact: move MAX_FRACTIONAL_VALUE on constant.hpp file
  pandora2d/common_cpp/include/constant.hpp
  pandora2d/interpolation_filter_cpp/include/interpolation_filter.hpp
  pandora2d/refinement_cpp/src/dichotomy.cpp
Due: sphinx-checking

refact: move EPSILON constant
  pandora2d/common_cpp/include/constant.hpp
  pandora2d/interpolation_filter_cpp/include/alias.hpp
  pandora2d/interpolation_filter_cpp/include/interpolation_filter.hpp
  pandora2d/interpolation_filter_cpp/src/interpolation_filter.cpp
Due: sphinx-checking

refact: move margins
  pandora2d/common_cpp/include/margins.hpp
Due: sphinx-checking

refact: update cpp tests and dependencies
  tests/unit_tests/test_cpp/global_conftest.cpp
  tests/unit_tests/test_cpp/global_conftest.hpp
  tests/unit_tests/test_cpp/meson.build
  tests/unit_tests/test_cpp/test_common/meson.build
  tests/unit_tests/test_cpp/test_interpolation_filter/test_bicubic.cpp
  tests/unit_tests/test_cpp/test_interpolation_filter/test_cardinal_sine.cpp
  tests/unit_tests/test_cpp/test_interpolation_filter/test_filter.cpp
  tests/unit_tests/test_cpp/test_matching_cost/conftest.cpp
  tests/unit_tests/test_cpp/test_matching_cost/conftest.hpp
  tests/unit_tests/test_cpp/test_matching_cost/meson.build
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram1D.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram2D.cpp
  tests/unit_tests/test_cpp/test_refinement/meson.build
  tests/unit_tests/test_cpp/test_refinement/test_dichotomy.cpp
Due: none

refact: update name file from cost_volumes to compute_cost_volumes
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/meson.build
  pandora2d/matching_cost_cpp/src/bind.cpp
  pandora2d/matching_cost_cpp/src/compute_cost_volumes.cpp
  tests/unit_tests/test_cpp/test_matching_cost/meson.build
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes.cpp
Due: sphinx-checking

refact: move eigen_type to pandora2d_type
  pandora2d/common_cpp/include/cost_volume.hpp
  pandora2d/common_cpp/include/operation.hpp
  pandora2d/common_cpp/include/pandora2d_type.hpp
  pandora2d/common_cpp/src/bind.cpp
  pandora2d/interpolation_filter_cpp/include/interpolation_filter.hpp
  pandora2d/matching_cost_cpp/include/bin.hpp
  pandora2d/matching_cost_cpp/include/histogram1D.hpp
  pandora2d/matching_cost_cpp/include/histogram2D.hpp
  pandora2d/matching_cost_cpp/include/mutual_information.hpp
  pandora2d/refinement_cpp/include/dichotomy.hpp
  pandora2d/refinement_cpp/src/bind.cpp
  tests/unit_tests/test_cpp/global_conftest.hpp
  tests/unit_tests/test_cpp/test_matching_cost/conftest.hpp
Due: sphinx-checking

refact: move operation.hpp
  pandora2d/common_cpp/include/operation.hpp
  pandora2d/common_cpp/meson.build
  pandora2d/common_cpp/src/operation.cpp
  pandora2d/matching_cost_cpp/meson.build
  pandora2d/matching_cost_cpp/src/operation.cpp
  pandora2d/refinement_cpp/include/dichotomy.hpp
  pandora2d/refinement_cpp/meson.build
  pandora2d/refinement_cpp/src/dichotomy.cpp
  tests/unit_tests/test_cpp/meson.build
  tests/unit_tests/test_cpp/test_common/meson.build
  tests/unit_tests/test_cpp/test_common/test_operation.cpp
  tests/unit_tests/test_cpp/test_matching_cost/meson.build
  tests/unit_tests/test_cpp/test_matching_cost/test_operation.cpp
  tests/unit_tests/test_cpp/test_refinement/meson.build
  tests/unit_tests/test_cpp/test_refinement/test_dichotomy.cpp
Due: sphinx-checking

refact: move cost volume struct
  pandora2d/common_cpp/__init__.py
  pandora2d/common_cpp/common_bind.pyi
  pandora2d/common_cpp/include/cost_volume.hpp
  pandora2d/common_cpp/meson.build
  pandora2d/common_cpp/src/bind.cpp
  pandora2d/matching_cost/mutual_information.py
  pandora2d/matching_cost_cpp/include/cost_volumes.hpp
  pandora2d/matching_cost_cpp/matching_cost_bind.pyi
  pandora2d/matching_cost_cpp/src/bind.cpp
  pandora2d/matching_cost_cpp/src/cost_volumes.cpp
  pandora2d/refinement_cpp/include/dichotomy.hpp
  pandora2d/refinement_cpp/refinement_bind.pyi
  pandora2d/refinement_cpp/src/bind.cpp
  tests/unit_tests/test_cpp/test_common/meson.build
  tests/unit_tests/test_cpp/test_common/test_cost_volume.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_cost_volumes.cpp
  tests/unit_tests/test_cpp/test_refinement/test_dichotomy.cpp
Due: black, pylint, mypy, sphinx-checking

feat: add validity mask and left border bands
  pandora2d/criteria.py
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

feat: inversion of mask_border and set_unprocessed_disp in the get_criteria_dataarray method
  pandora2d/criteria.py
  tests/unit_tests/test_criteria.py
Due: black, pylint, mypy, sphinx-checking

refact: rename criteria
  notebooks/advanced_examples/criteria.ipynb
  pandora2d/constants.py
  pandora2d/criteria.py
  pandora2d/refinement/dichotomy_cpp.py
  tests/functional_tests/test_criteria_pipeline.py
  tests/unit_tests/test_common.py
  tests/unit_tests/test_criteria.py
  tests/unit_tests/test_validity_mask.py
Due: black, pylint, mypy, sphinx-checking

test: update functional test for validity_mask with new bands
  tests/functional_tests/test_criteria_pipeline.py
Due: black, pylint, mypy

test: fix unit tests after adding new bands to validity_mask
  tests/unit_tests/test_common.py
  tests/unit_tests/test_refinement/test_interpolation.py
  tests/unit_tests/test_refinement/test_optical_flow.py
Due: black, pylint, mypy

docs: update documentation after adding new validity bands
  docs/source/userguide/as_an_api.rst
Due: none

test: add unit tests for validity mask
  tests/unit_tests/test_validity_mask.py
Due: black, pylint, mypy

fix: add error message in pipeline when a step is used with an input mask
  pandora2d/matching_cost/base.py
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: add test to check that an error is raised when using a step and an input mask
  tests/conftest.py
  tests/functional_tests/test_criteria_pipeline.py
Due: black, pylint, mypy

fix: update mask_border method for step different from [1,1]
  pandora2d/criteria.py
  tests/unit_tests/test_criteria.py
Due: black, pylint, mypy, sphinx-checking

test: fix functional tests after adding error message in matching cost prepare
  tests/functional_tests/conftest.py
  tests/functional_tests/matching_cost/test_disparity_margins.py
  tests/functional_tests/matching_cost/test_subpix.py
Due: black, pylint, mypy

docs: add warning about usage of input mask with step
  docs/source/userguide/input.rst
  docs/source/userguide/step_by_step/matching_cost.rst
Due: none

doc: update state on sequencing file
  docs/source/Images/Pandora2D_pipeline.drawio.svg
  docs/source/Images/Pandora2D_pipeline.png
  docs/source/userguide/sequencing.rst
Due: none

notebook: update state name on diagram
  notebooks/estimation_step_explained.ipynb
  notebooks/img/Pandora2D_pipeline.drawio.svg
  notebooks/img/Pandora2D_pipeline.png
  notebooks/introduction_and_basic_usage.ipynb
Due: none

refact: update state name & disparity step name
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

doc: standardisation of types in configuration tables
  docs/source/userguide/expert_mode.rst
  docs/source/userguide/input.rst
  docs/source/userguide/output.rst
  docs/source/userguide/step_by_step/disparity.rst
  docs/source/userguide/step_by_step/estimation.rst
  docs/source/userguide/step_by_step/matching_cost.rst
  docs/source/userguide/step_by_step/refinement.rst
Due: none

refact: remove interpolation refinement method
  pandora2d/refinement/__init__.py
  pandora2d/refinement/interpolation.py
  tests/functional_tests/matching_cost/test_disparity_margins.py
  tests/resource_tests/test_pandora2d.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_check_configuration.py
  tests/unit_tests/test_common.py
  tests/unit_tests/test_pandora2d.py
  tests/unit_tests/test_refinement/test_interpolation.py
Due: black, pylint, mypy, sphinx-checking

refact: update doc without interpolation refinement method
  docs/source/userguide/faq.rst
  docs/source/userguide/sequencing.rst
  docs/source/userguide/step_by_step/refinement.rst
Due: none

refact: update notebook without interpolation refinement method
  notebooks/introduction_and_basic_usage.ipynb
Due: none

setup: remove the version constraint for scipy
  pyproject.toml
Due: none

fix: mypy errors
  pandora2d/interpolation_filter/bicubic.py
  pandora2d/interpolation_filter/bicubic_cpp.py
  pandora2d/interpolation_filter/cardinal_sine.py
  pandora2d/interpolation_filter/cardinal_sine_cpp.py
  pandora2d/matching_cost/base.py
  pandora2d/matching_cost/pandora.py
Due: black, pylint, mypy, sphinx-checking

chore: limit wheels to 64bits architectures
  pyproject.toml
Due: none

chore: update gh-action build wheel
  .github/workflows/pandora2d_ci.yml
Due: none

chore: remove unsused numba dependency
  pyproject.toml
Due: none

fix: M_PI constant not defined
  pandora2d/interpolation_filter_cpp/include/cardinal_sine.hpp
Due: sphinx-checking

fix: windows wheel build
  pyproject.toml
Due: none
