Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking, meson

black:
  name: black
  entry: black --line-length=120
  language: system
  stages:
  - pre-commit

pylint:
  name: PyLint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --rcfile=.pylintrc
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - pre-commit

sphinx-checking:
  name: Checking Sphinx building
  entry: python setup.py build_sphinx
  language: system
  pass_filenames: false
  stages:
  - pre-push

meson:
  name: meson
  language: python
  entry: meson format -e -i
  additional_dependencies:
  - meson==1.6.1

fix: use float phase_diff instead of string in phase_cross_correlation
  pandora2d/estimation/phase_cross_correlation.py
  tests/unit_tests/test_estimation.py
Due: black, pylint, mypy, sphinx-checking

refact(memory_estimation): split get_nb_disp
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat(memory_estimation): add estimation of pandora cost volume memory consumption
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

test(memory_estimation): change relative approx argument for shifted right images test
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

test: add new tests for shift_disp_row_img method
  tests/unit_tests/test_img_tools/test_shift_img.py
Due: black, pylint, mypy

fix: use -9999 instead of np.nan for shift computation
  pandora2d/img_tools.py
Due: black, pylint, mypy, sphinx-checking

docs: add warning about input nodata
  docs/source/userguide/input.rst
Due: none

test: add tests on lower and upper histogram bounds
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram1D.cpp
Due: none

fix: update histogram lower bound when nb_bins=NB_BINS_MAX
  pandora2d/matching_cost_cpp/src/histogram1D.cpp
Due: sphinx-checking

feat: add up_bound() method for histograms
  pandora2d/matching_cost_cpp/include/histogram1D.hpp
  pandora2d/matching_cost_cpp/src/histogram1D.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram1D.cpp
Due: sphinx-checking

test(memory_estimation): add repr to MemoryTracer
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

fix(disp_map): make datavars data independent
  pandora2d/common.py
Due: black, pylint, mypy, sphinx-checking

test(memory_estimation): move image creation fixture to higher scope
  tests/unit_tests/conftest.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

feat(memory_estimation): add estimation of dataset disp map memory consumption
  pandora2d/common.py
  pandora2d/memory_estimation.py
  pandora2d/state_machine.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

test: correct and add tests after templatisation of compute_cost_volumes_cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_mutual_information.cpp
Due: none

feat: templatisation of compute_cost_volumes_cpp
  pandora2d/matching_cost/mutual_information.py
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/include/mutual_information.hpp
  pandora2d/matching_cost_cpp/matching_cost_bind.pyi
  pandora2d/matching_cost_cpp/src/bind.cpp
  pandora2d/matching_cost_cpp/src/compute_cost_volumes.cpp
  pandora2d/matching_cost_cpp/src/mutual_information.cpp
Due: black, pylint, mypy, sphinx-checking

test: add functional test to check cost volumes type
  tests/functional_tests/matching_cost/test_mutual_information.py
Due: black, pylint, mypy

test: templatisation of compute_cost_volumes_cpp and get_window unit tests
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes.cpp
Due: none

test: add check conf and allocate tests for float precision in cost volumes
  tests/unit_tests/conftest.py
  tests/unit_tests/test_matching_cost/test_matching_cost_allocate.py
  tests/unit_tests/test_matching_cost/test_matching_cost_check_conf.py
Due: black, pylint, mypy

test: add float precision to mutual information functional tests
  tests/functional_tests/matching_cost/test_mutual_information.py
Due: black, pylint, mypy

feat: add a float_precision key in matching_cost cfg
  pandora2d/matching_cost/base.py
  pandora2d/matching_cost/mutual_information.py
  pandora2d/matching_cost/pandora.py
Due: black, pylint, mypy, sphinx-checking

fix: correct matching_cost_bind.pyi file to avoid mypy error
  pandora2d/matching_cost_cpp/matching_cost_bind.pyi
Due: sphinx-checking

notebook: rename zncc to zncc_python
  notebooks/advanced_examples/test_margins.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/usage_dichotomy.ipynb
  notebooks/usage_step_roi_config.ipynb
Due: none

feat: add zncc key for cpp computation and zncc_python for python calculation
  pandora2d/matching_cost/__init__.py
  pandora2d/matching_cost/correlation.py
  pandora2d/matching_cost/pandora.py
Due: black, pylint, mypy, sphinx-checking

test: rename zncc to zncc_python
  tests/conftest.py
  tests/functional_tests/conftest.py
  tests/functional_tests/matching_cost/test_disparity_margins.py
  tests/functional_tests/refinement/dichotomy/test_dichotomy_pipeline.py
  tests/performance_tests/refinement/dichotomy/test_dichotomy_performance.py
  tests/resource_tests/test_pandora2d.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_check_configuration.py
  tests/unit_tests/test_common.py
  tests/unit_tests/test_criteria/test_validity_mask/conftest.py
  tests/unit_tests/test_img_tools/test_remove_roi_margins.py
  tests/unit_tests/test_matching_cost/test_matching_cost_allocate.py
  tests/unit_tests/test_matching_cost/test_matching_cost_check_conf.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
  tests/unit_tests/test_memory_estimation.py
  tests/unit_tests/test_pandora2d.py
  tests/unit_tests/test_refinement/test_optical_flow.py
Due: black, pylint, mypy

feat: rename zncc to zncc_python in json files
  data_samples/json_conf_files/a_basic_pipeline.json
  data_samples/json_conf_files/a_dichotomy_pipeline.json
  data_samples/json_conf_files/a_dichotomy_python_pipeline.json
  data_samples/json_conf_files/a_segment_mode_pipeline.json
  data_samples/json_conf_files/a_variable_disparity_pipeline.json
  data_samples/json_conf_files/an_estimation_pipeline.json
Due: none

test: add zncc in functional and resource tests
  tests/functional_tests/matching_cost/test_disparity_margins.py
  tests/resource_tests/test_pandora2d.py
Due: black, pylint, mypy

test: add zncc to matching cost unit tests
  tests/unit_tests/test_matching_cost/test_matching_cost_allocate.py
  tests/unit_tests/test_matching_cost/test_matching_cost_check_conf.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy

test: add matching_cost_method argument in compute_cost_volumes_cpp tests
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes.cpp
Due: none

test: add test with incorrect matching_cost_method
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes.cpp
Due: none

feat: add matching_cost_method argument in compute_cost_volumes_cpp
  pandora2d/matching_cost/correlation.py
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/include/mutual_information.hpp
  pandora2d/matching_cost_cpp/include/zncc.hpp
  pandora2d/matching_cost_cpp/matching_cost_bind.pyi
  pandora2d/matching_cost_cpp/src/bind.cpp
Due: black, pylint, mypy, sphinx-checking

fix: update cfg for estimation
  tests/resource_tests/test_pandora2d.py
Due: black, pylint, mypy

refact: replace img by image in matching_cost_cpp
  pandora2d/matching_cost_cpp/include/bin.hpp
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/include/histogram1D.hpp
  pandora2d/matching_cost_cpp/include/histogram2D.hpp
  pandora2d/matching_cost_cpp/include/mutual_information.hpp
  pandora2d/matching_cost_cpp/src/bin.cpp
  pandora2d/matching_cost_cpp/src/histogram1D.cpp
  pandora2d/matching_cost_cpp/src/histogram2D.cpp
  pandora2d/matching_cost_cpp/src/mutual_information.cpp
Due: sphinx-checking

refact: use alias for template eigen matrix
  pandora2d/common_cpp/include/pandora2d_type.hpp
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/include/mutual_information.hpp
  pandora2d/matching_cost_cpp/include/zncc.hpp
Due: sphinx-checking

test(histogram1d): remove unused variable
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram1D.cpp
Due: none

chore: fix Git author display inconsistencies
  .mailmap
Due: none

test: add functional tests with disparity grids and mutual information
  tests/conftest.py
  tests/functional_tests/conftest.py
  tests/functional_tests/test_pipelines.py
Due: black, pylint, mypy

test: move set_out_of_disparity methods tests to matching cost tests
  tests/unit_tests/test_common.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
  tests/unit_tests/test_matching_cost/test_set_out_of_disparity.py
Due: black, pylint, mypy

test: update tests after deleting P2D_DISPARITY_UNPROCESSED criteria
  tests/functional_tests/test_criteria_pipeline.py
  tests/unit_tests/test_common.py
  tests/unit_tests/test_criteria/test_data_array/test_get_criteria_dataarray.py
  tests/unit_tests/test_criteria/test_data_array/test_set_unprocessed_disparity.py
  tests/unit_tests/test_criteria/test_validity_mask/test_allocate_validity_dataset.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy

feat: move set_out_of_disparity_range methods to base.py
  pandora2d/common.py
  pandora2d/matching_cost/base.py
  pandora2d/matching_cost/correlation.py
  pandora2d/matching_cost/pandora.py
Due: black, pylint, mypy, sphinx-checking

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  sphinx-checking: any of: ^(doc/.*|pandora2d/.*)$
  meson: any of: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
