Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking, meson

black:
  name: black
  entry: black --line-length=120
  language: system
  stages:
  - pre-commit

pylint:
  name: PyLint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --rcfile=.pylintrc
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - pre-commit

sphinx-checking:
  name: Checking Sphinx building
  entry: python setup.py build_sphinx
  language: system
  pass_filenames: false
  stages:
  - pre-push

meson:
  name: meson
  language: python
  entry: meson format -e -i
  additional_dependencies:
  - meson==1.6.1

feat: add input masks in multiscale configuration
  src/pandora2d/multiscale/check_configuration.py
Due: black, pylint, mypy

feat: add mesh_validity band into validity.tif
  src/pandora2d/multiscale/check_configuration.py
  src/pandora2d/multiscale/model_estimation.py
  src/pandora2d/multiscale/multiscale.py
Due: black, pylint, mypy

feat: add main and check_conf for multiscale pipeline
  pandora2d/multiscale/__init__.py
  pandora2d/multiscale/check_configuration.py
  pandora2d/multiscale/multiscale.py
Due: black, pylint, mypy, sphinx-checking

feat: add model estimation methods
  pandora2d/multiscale/__init__.py
  pandora2d/multiscale/model_estimation.py
Due: black, pylint, mypy, sphinx-checking

test: add unit tests for mesh mode
  tests/unit_tests/test_multiscale/test_model_estimation.py
Due: black, pylint, mypy

feat: update methods & print rmse instead of sum of squared residuals
  src/pandora2d/multiscale/model_estimation.py
  src/pandora2d/multiscale/multiscale.py
Due: black, pylint, mypy

feat: update mask data in maricopa_pyramid
  data_samples/images/maricopa_pyramid.zip
Due: none

test: add unit tests for pandora2d json path list cfg
  tests/unit_tests/test_multiscale/test_check_conf.py
Due: black, pylint, mypy

docs: fix some errors
  docs/source/exploring_the_field/Images/multiscale_mode.drawio.html
  docs/source/exploring_the_field/multiscale_mode.rst
  docs/source/userguide/multiscale_mode.rst
  src/pandora2d/multiscale/model_estimation.py
Due: black, pylint, mypy

test: add unit tests for mesh key in cfg
  tests/unit_tests/test_multiscale/test_check_conf.py
Due: black, pylint, mypy

feat: update example configuration
  data_samples/images/maricopa_pyramid.zip
  data_samples/json_conf_files/a_multiscale_pipeline.json
Due: none

feat: add mesh mode in run multiscale
  pandora2d/multiscale/model_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat: add loop on pandora2d run
  pandora2d/multiscale/multiscale.py
Due: black, pylint, mypy, sphinx-checking

test: add tests for estimate_init_disparity_grids method
  tests/unit_tests/test_multiscale/test_model_estimation.py
Due: black, pylint, mypy

test: add tests for model estimation methods
  tests/unit_tests/test_multiscale/test_model_estimation.py
Due: black, pylint, mypy

feat: add pixel center convention in grid estimate
  src/pandora2d/multiscale/model_estimation.py
  tests/unit_tests/test_multiscale/test_model_estimation.py
Due: black, pylint, mypy

fix: correct some errors
  src/pandora2d/multiscale/model_estimation.py
  src/pandora2d/multiscale/multiscale.py
Due: black, pylint, mypy

feat: add mesh key in configuration
  pandora2d/multiscale/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

feat: move multiscale repository to src
  src/pandora2d/multiscale/__init__.py
  src/pandora2d/multiscale/check_configuration.py
  src/pandora2d/multiscale/model_estimation.py
  src/pandora2d/multiscale/multiscale.py
Due: black, pylint, mypy

test: add new tests for minimal_nb_pixels_mesh in cfg
  tests/unit_tests/test_multiscale/test_check_conf.py
Due: black, pylint, mypy

feat: add compression factor for model estimation
  pandora2d/multiscale/model_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat: add different p2d cfg in multiscale cfg
  src/pandora2d/multiscale/check_configuration.py
  src/pandora2d/multiscale/multiscale.py
Due: black, pylint, mypy

docs: update mvp documentation with mask configurations
  docs/source/userguide/multiscale_mode.rst
Due: none

feat: add comment about compression factor
  src/pandora2d/multiscale/model_estimation.py
Due: black, pylint, mypy

feat: use np.linspace and np.round in estimate_init_disparity_grids
  pandora2d/multiscale/model_estimation.py
  tests/unit_tests/test_multiscale/test_model_estimation.py
Due: black, pylint, mypy, sphinx-checking

feat: update multiscale configuration with masks
  data_samples/json_conf_files/a_multiscale_pipeline_with_masks.json
Due: none

docs: add documentation for multiscale mode
  docs/source/Images/multiscale_mode_example.drawio.html
  docs/source/Images/outputs_multiscale.drawio.svg
  docs/source/exploring_the_field.rst
  docs/source/exploring_the_field/Images/multiscale_mode.drawio.html
  docs/source/exploring_the_field/multiscale_mode.rst
  docs/source/userguide.rst
  docs/source/userguide/multiscale_mode.rst
Due: none

fix: remove type and rtype of docstrings
  src/pandora2d/multiscale/check_configuration.py
  src/pandora2d/multiscale/model_estimation.py
  src/pandora2d/multiscale/multiscale.py
Due: black, pylint, mypy

feat: add json multiscale configuration with mask pyramids
  data_samples/images/maricopa_pyramid.zip
  data_samples/json_conf_files/a_multiscale_pipeline_with_masks.json
Due: none

feat: update cholesky computation with scipy
  pandora2d/multiscale/model_estimation.py
  tests/unit_tests/test_multiscale/test_model_estimation.py
Due: black, pylint, mypy, sphinx-checking

test: fix some errors
  tests/unit_tests/test_multiscale/test_model_estimation.py
Due: black, pylint, mypy

test: fix model estimation tests after adding minimal_nb_pixels_per_mesh parameter
  tests/unit_tests/test_multiscale/test_model_estimation.py
Due: black, pylint, mypy

test: add check conf test for multiscale config
  tests/unit_tests/test_multiscale/test_check_conf.py
Due: black, pylint, mypy

test: add unit tests for configurations with input masks
  tests/unit_tests/test_multiscale/test_check_conf.py
Due: black, pylint, mypy

feat: add data and json file to launch multiscale mode
  data_samples/images/maricopa_pyramid.zip
  data_samples/json_conf_files/a_multiscale_pipeline.json
Due: none

feat: rename pyramid key to img_pyramid in input configuration
  data_samples/json_conf_files/a_multiscale_pipeline.json
  docs/source/userguide/multiscale_mode.rst
  src/pandora2d/multiscale/check_configuration.py
  src/pandora2d/multiscale/multiscale.py
  tests/unit_tests/test_multiscale/test_check_conf.py
Due: black, pylint, mypy

feat: reorganize run_multiscale method and add input masks into process
  src/pandora2d/multiscale/multiscale.py
Due: black, pylint, mypy

feat: add verbose mode
  pandora2d/multiscale/multiscale.py
Due: black, pylint, mypy, sphinx-checking

update README.md for multiscale mode
  README.md
Due: none

test: skip reentry json test for multiscale configurations
  tests/functional_tests/test_pipelines.py
Due: black, pylint, mypy

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  sphinx-checking: any of: ^(doc/.*|pandora2d/.*)$
  meson: any of: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
