Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking, meson

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black --line-length=120
      language: system
      files: \.py$
      stages: [pre-commit]
      types: [python]
    - id: pylint
      name: PyLint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      args: [
        "--rcfile=.pylintrc"
      ]
      stages: [pre-commit]
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ pre-commit ]
    - id: sphinx-checking
      name: Checking Sphinx building
      entry: python setup.py build_sphinx
      language: system
      files: ^(doc/.*|pandora2d/.*)$
      pass_filenames: False
      stages: [ pre-push ]
    - id: meson
      name: meson
      language: python
      entry: meson format -e -i
      files: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
      additional_dependencies: ['meson==1.6.1']
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.4
    hooks:
    - id: clang-format
      types_or: [c++, c, cuda]

docs: correct documentation for tag
  docs/source/userguide/multiscale_mode.rst
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

update documentation conf.py
  docs/source/conf.py
Due: black, pylint, mypy

update gitlab-ci.yml to push branch on github
  .gitlab-ci.yml
Due: none

update sonar-project.properties
  sonar-project.properties
Due: none

refactor: resolve correlation method once before cost volume loop
  src/pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
Due: none

fix: throw on unknown method in calculate_correlation
  src/pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
Due: none

Resolve "Correction notebook usage_with_origin_coordinates.ipynb"
  notebooks/usage_with_origin_coordinates.ipynb
Due: none

refactor: use Eigen RowMajor in cpp matching cost computation
  src/pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  src/pandora2d/matching_cost_cpp/include/zncc.hpp
  src/pandora2d/matching_cost_cpp/src/bind.cpp
  src/pandora2d/matching_cost_cpp/src/compute_cost_volumes.cpp
Due: none

test: fix incorrect type in test data
  tests/functional_tests/matching_cost/test_disparity_margins.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy

refactor: correct invalid_map type in cpp refinement
  src/pandora2d/refinement/dichotomy_cpp.py
  src/pandora2d/refinement_cpp/include/dichotomy.hpp
  src/pandora2d/refinement_cpp/refinement_bind.pyi
  src/pandora2d/refinement_cpp/src/bind.cpp
Due: black, pylint, mypy

refactor: use Eigen RowMajor in pandora2d cpp alias
  src/pandora2d/common_cpp/include/cost_volume.hpp
  src/pandora2d/common_cpp/include/pandora2d_type.hpp
Due: none

feat: cfog matching_cost
  .gitlab-ci.yml
  docs/source/exploring_the_field/matching_cost.rst
  docs/source/userguide/step_by_step/matching_cost.rst
  meson.build
  sonar-project.properties
  src/pandora2d/matching_cost/correlation.py
  src/pandora2d/matching_cost_cpp/include/cfog.hpp
  src/pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  src/pandora2d/matching_cost_cpp/include/mutual_information.hpp
  src/pandora2d/matching_cost_cpp/meson.build
  src/pandora2d/matching_cost_cpp/src/bind.cpp
  src/pandora2d/refinement_cpp/include/dichotomy.hpp
Due: black, pylint, mypy, meson

feat: auto-select zncc-optim variant for zncc method
  docs/source/exploring_the_field/matching_cost.rst
  docs/source/userguide/step_by_step/matching_cost.rst
  src/pandora2d/matching_cost/correlation.py
  src/pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  tests/functional_tests/matching_cost/test_correlation.py
  tests/functional_tests/matching_cost/test_disparity_margins.py
  tests/performance_tests/matching_cost/test_correlation_performance.py
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes_zncc.cpp
  tests/unit_tests/test_matching_cost/conftest.py
  tests/unit_tests/test_matching_cost/test_matching_cost_allocate.py
  tests/unit_tests/test_matching_cost/test_matching_cost_check_conf.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
  tests/unit_tests/test_matching_cost/test_zncc_auto_selection.py
Due: black, pylint, mypy

test: adapt zncc roi-area tests to the image-size based computation
  src/pandora2d/matching_cost/base.py
  src/pandora2d/matching_cost/correlation.py
  tests/unit_tests/test_matching_cost/test_matching_cost_allocate.py
  tests/unit_tests/test_matching_cost/test_zncc_auto_selection.py
Due: black, pylint, mypy

feat: take roi area into account to auto-select zncc variant
  docs/source/exploring_the_field/matching_cost.rst
  docs/source/userguide/step_by_step/matching_cost.rst
  src/pandora2d/matching_cost/correlation.py
  tests/functional_tests/matching_cost/test_correlation.py
  tests/unit_tests/test_matching_cost/test_zncc_auto_selection.py
Due: black, pylint, mypy

test: streamline zncc auto-selection test coverage
  src/pandora2d/matching_cost/correlation.py
  tests/functional_tests/conftest.py
  tests/functional_tests/matching_cost/test_correlation.py
  tests/unit_tests/test_matching_cost/test_matching_cost_allocate.py
  tests/unit_tests/test_matching_cost/test_matching_cost_check_conf.py
  tests/unit_tests/test_matching_cost/test_zncc_auto_selection.py
Due: black, pylint, mypy

test: refactor zncc test coverage
  docs/source/userguide/step_by_step/matching_cost.rst
  src/pandora2d/matching_cost/correlation.py
  tests/functional_tests/matching_cost/test_correlation.py
  tests/functional_tests/matching_cost/test_disparity_margins.py
  tests/performance_tests/matching_cost/test_correlation_performance.py
  tests/unit_tests/test_matching_cost/test_matching_cost_allocate.py
  tests/unit_tests/test_matching_cost/test_matching_cost_check_conf.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
  tests/unit_tests/test_matching_cost/test_zncc_auto_selection.py
Due: black, pylint, mypy

Fix constructor default parameter syntax
  src/pandora2d/interpolation_filter_cpp/src/interpolation_filter.cpp
Due: none

test: use fixture instead of static method in functional tests for zncc auto selection
  tests/functional_tests/matching_cost/test_correlation.py
Due: black, pylint, mypy

feat: removal of the double allocation of histograms 1D
  src/pandora2d/matching_cost_cpp/include/histogram2D.hpp
  src/pandora2d/matching_cost_cpp/include/mutual_information.hpp
  tests/unit_tests/test_cpp/test_matching_cost/test_histogram2D.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_mutual_information.cpp
Due: none

feat: remove calculate_mutual_information and calculate_zncc-opt2 methods
  src/pandora2d/matching_cost_cpp/include/mutual_information.hpp
  src/pandora2d/matching_cost_cpp/include/zncc.hpp
Due: none

feat: use prepare for left window for zncc and mutual information
  src/pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  src/pandora2d/matching_cost_cpp/include/mutual_information.hpp
  src/pandora2d/matching_cost_cpp/include/zncc.hpp
  tests/unit_tests/test_cpp/test_matching_cost/test_mutual_information.cpp
  tests/unit_tests/test_cpp/test_matching_cost/test_zncc.cpp
Due: none

notebook: update with new methods for API mode
  notebooks/advanced_examples/test_margins.ipynb
  notebooks/estimation_step_explained.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/usage_cost_volume_confidence.ipynb
  notebooks/usage_deformation_grid.ipynb
  notebooks/usage_dichotomy.ipynb
  notebooks/usage_segment_mode_and_comparison.ipynb
  notebooks/usage_step_roi_config.ipynb
  notebooks/usage_with_origin_coordinates.ipynb
Due: none

docs: update documentation with new run_pandora2d API method
  docs/source/userguide/as_an_api.rst
Due: none

feat: reorganize methods to run pandora2d in API mode
  src/pandora2d/__init__.py
Due: black, pylint, mypy

feat: remove subpix in refinement margins
  src/pandora2d/common.py
  src/pandora2d/matching_cost/base.py
  src/pandora2d/matching_cost/correlation.py
  src/pandora2d/matching_cost/pandora.py
Due: black, pylint, mypy

test: correct unit tests after removing subpix from refinement margins
  tests/unit_tests/test_common.py
  tests/unit_tests/test_criteria/test_validity_mask/conftest.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy

test: correct functional tests for disparity margins computation
  tests/functional_tests/matching_cost/test_disparity_margins.py
Due: black, pylint, mypy

feat: correct memory estimation after removing subpix from refinement margins
  src/pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

fix: update json encoder for rasterio new version
  src/pandora2d/common.py
  tests/conftest.py
Due: black, pylint, mypy

doc: update documentation about margins info in output configuration
  docs/source/userguide/output.rst
Due: none

feat: reorganize margins information in output configuration
  src/pandora2d/__init__.py
  src/pandora2d/check_configuration.py
  tests/unit_tests/test_check_configuration/test_check_roi_configuration.py
Due: black, pylint, mypy

test: add test for new method update_output_config_with_info
  tests/unit_tests/test_pandora2d.py
Due: black, pylint, mypy

feat: add new contributor
  AUTHORS.md
  src/pandora2d/interpolation_filter_cpp/src/interpolation_filter.cpp
Due: none

feat: add CITATION.cff file
  CITATION.cff
Due: none

feat: add resampling_type parameter to dichotomy cpp configuration
  docs/source/userguide/step_by_step/refinement.rst
  src/pandora2d/refinement/dichotomy_cpp.py
  src/pandora2d/state_machine.py
  tests/functional_tests/refinement/dichotomy/test_dichotomy_pipeline.py
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

refactor: update check_conf to modify configuration in place
  docs/source/userguide/as_an_api.rst
  notebooks/advanced_examples/test_margins.ipynb
  notebooks/estimation_step_explained.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/usage_cost_volume_confidence.ipynb
  notebooks/usage_deformation_grid.ipynb
  notebooks/usage_dichotomy.ipynb
  notebooks/usage_segment_mode_and_comparison.ipynb
  notebooks/usage_step_roi_config.ipynb
  notebooks/usage_with_origin_coordinates.ipynb
  src/pandora2d/__init__.py
  src/pandora2d/check_configuration.py
  tests/functional_tests/matching_cost/test_correlation.py
  tests/functional_tests/refinement/dichotomy/test_dichotomy_pipeline.py
  tests/functional_tests/test_cost_volume_confidence.py
  tests/functional_tests/test_criteria_pipeline.py
  tests/functional_tests/test_memory_estimation.py
  tests/functional_tests/test_pipelines.py
  tests/unit_tests/test_check_configuration/test_check_configuration.py
  tests/unit_tests/test_common.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

test: fix image resampling warning test after check_conf refactor
  tests/functional_tests/refinement/dichotomy/test_dichotomy_pipeline.py
Due: black, pylint, mypy

chore: remove obsolete NOTICE file
  CONTRIBUTING.md
  NOTICE
  docs/source/developer_guide/before_coding.rst
Due: none
