Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking, meson

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black --line-length=120
      language: system
      files: \.py$
      stages: [pre-commit]
      types: [python]
    - id: pylint
      name: PyLint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      args: [
        "--rcfile=.pylintrc"
      ]
      stages: [pre-commit]
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ pre-commit ]
    - id: sphinx-checking
      name: Checking Sphinx building
      entry: python setup.py build_sphinx
      language: system
      files: ^(doc/.*|pandora2d/.*)$
      pass_filenames: False
      stages: [ pre-push ]
    - id: meson
      name: meson
      language: python
      entry: meson format -e -i
      files: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
      additional_dependencies: ['meson==1.6.1']
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.4
    hooks:
    - id: clang-format
      types_or: [c++, c, cuda]

test: add for segment_mode check configuration
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

test: add test for refact get_section_config
  tests/unit_tests/conftest.py
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

doc: add segment mode documentation
  docs/source/userguide.rst
  docs/source/userguide/segment_mode.rst
Due: none

config: add segment mode configuration
  data_samples/json_conf_files/a_segment_mode_pipeline.json
Due: none

test: update method to read binary file in py::array
  tests/unit_tests/test_cpp/test_matching_cost/conftest.cpp
  tests/unit_tests/test_cpp/test_matching_cost/conftest.hpp
  tests/unit_tests/test_cpp/test_matching_cost/meson.build
Due: meson

test: add criteria binary files for cpp tests
  tests/unit_tests/test_cpp/test_matching_cost/data/center_criteria.bin
  tests/unit_tests/test_cpp/test_matching_cost/data/not_centered_disp_criteria.bin
  tests/unit_tests/test_cpp/test_matching_cost/data/roi_criteria.bin
  tests/unit_tests/test_cpp/test_matching_cost/data/roi_step_[1,2]_criteria.bin
  tests/unit_tests/test_cpp/test_matching_cost/data/step_[2,3]_criteria.bin
  tests/unit_tests/test_cpp/test_matching_cost/data/subpix_2_criteria.bin
  tests/unit_tests/test_cpp/test_matching_cost/data/top_left_criteria.bin
Due: none

test: update python unit tests after adding criteria in mutual information
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy

test: add method to read binary criteria file in cpp tests
  tests/unit_tests/test_cpp/test_matching_cost/conftest.cpp
  tests/unit_tests/test_cpp/test_matching_cost/conftest.hpp
  tests/unit_tests/test_cpp/test_matching_cost/meson.build
Due: meson

feat: use py::array in mutual information instead of eigen ref
  pandora2d/common_cpp/include/pandora2d_type.hpp
  pandora2d/matching_cost/mutual_information.py
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/src/compute_cost_volumes.cpp
Due: black, pylint, mypy, sphinx-checking

feat: move get_cost_surface and Position2D to cost_volume.hpp
  pandora2d/common_cpp/include/cost_volume.hpp
  pandora2d/common_cpp/meson.build
  pandora2d/refinement_cpp/include/dichotomy.hpp
  pandora2d/refinement_cpp/src/dichotomy.cpp
Due: sphinx-checking, meson

test: add python functional test for criteria in mutual information
  tests/functional_tests/matching_cost/test_mutual_information.py
Due: black, pylint, mypy

test: move get_cost_surface and Position2D unit tests
  tests/unit_tests/test_cpp/global_conftest.cpp
  tests/unit_tests/test_cpp/global_conftest.hpp
  tests/unit_tests/test_cpp/test_common/meson.build
  tests/unit_tests/test_cpp/test_common/test_cost_volume.cpp
  tests/unit_tests/test_cpp/test_refinement/test_dichotomy.cpp
Due: meson

fix: avoid calling get_cost_surface in compute_cost_volumes_cpp loop
  pandora2d/matching_cost_cpp/src/compute_cost_volumes.cpp
Due: sphinx-checking

test: update unit cpp tests with criteria in mutual information and py::array
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes.cpp
Due: none

test: update unit cpp tests with criteria in mutual information
  tests/unit_tests/test_cpp/test_matching_cost/test_compute_cost_volumes.cpp
Due: none

feat: use criteria dataarray in mutual information
  pandora2d/common_cpp/include/cost_volume.hpp
  pandora2d/common_cpp/include/pandora2d_type.hpp
  pandora2d/matching_cost/mutual_information.py
  pandora2d/matching_cost_cpp/include/compute_cost_volumes.hpp
  pandora2d/matching_cost_cpp/matching_cost_bind.pyi
  pandora2d/matching_cost_cpp/src/bind.cpp
  pandora2d/matching_cost_cpp/src/compute_cost_volumes.cpp
Due: black, pylint, mypy, sphinx-checking

test: add test to check that mutual information is faster with input mask
  tests/conftest.py
  tests/functional_tests/matching_cost/test_mutual_information.py
Due: black, pylint, mypy

feat: add methods for input cfg memory estimation
  pandora2d/img_tools.py
  pandora2d/memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

test: add unit tests for memory estimation of input cfg
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

refact(dichotomy): use criteria to skip points
  pandora2d/refinement/dichotomy_cpp.py
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy, sphinx-checking

tests(dichotomy): improve ids
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

tests(dichotomy): update tests due to code changes
  tests/unit_tests/test_refinement/conftest.py
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

tests(dichotomy): check disparity shift
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

tests: move common fixtures to root conftest
  tests/unit_tests/conftest.py
  tests/unit_tests/test_matching_cost/conftest.py
  tests/unit_tests/test_refinement/conftest.py
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

tests(dichotomy): fix numpy cast error on python >= 3.10
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

tests(dichotomy): use only one parametrized dataset_disp_map fixture
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

tests(dichotomy): split uniform and non-uniform grids tests
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

tests: factorize some dichotomy tests
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

test: add unit tests about cost volumes dataset size estimation
  tests/unit_tests/conftest.py
  tests/unit_tests/test_matching_cost/conftest.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

fix: disable mypy error temporarily
  pandora2d/interpolation_filter/bicubic.py
  pandora2d/interpolation_filter/bicubic_cpp.py
  pandora2d/interpolation_filter/cardinal_sine.py
  pandora2d/interpolation_filter/cardinal_sine_cpp.py
  pandora2d/refinement/dichotomy.py
  pandora2d/refinement/dichotomy_cpp.py
  pandora2d/refinement/optical_flow.py
Due: black, pylint, mypy, sphinx-checking

feat: add cost volumes dataset size estimation method
  pandora2d/memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

tests: image fixtures should not have coordinates with step
  tests/unit_tests/test_img_tools/test_shift_img.py
  tests/unit_tests/test_refinement/conftest.py
  tests/unit_tests/test_refinement/test_dichotomy.py
Due: black, pylint, mypy

feat(matching_cost): set shifted right images at allocation time
  pandora2d/matching_cost/base.py
  pandora2d/matching_cost/mutual_information.py
  pandora2d/matching_cost/pandora.py
  tests/unit_tests/test_matching_cost/test_matching_cost_allocate.py
Due: black, pylint, mypy, sphinx-checking

test(memory_estimation): refact memory_tracer contextmanager
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy

feat(memory_estimation): add estimation of shifted right images memory consumption
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

refact(memory_estimation): rename functions to be imperative actions
  pandora2d/memory_estimation.py
  tests/unit_tests/test_memory_estimation.py
Due: black, pylint, mypy, sphinx-checking

test: add functional test for nb_bins=NB_BINS_MAX
  tests/functional_tests/matching_cost/data/img_nb_bins_max.tif
  tests/functional_tests/matching_cost/test_mutual_information.py
Due: black, pylint, mypy

refact(margins): replace descriptors by new objects
  pandora2d/disparity/disparity.py
  pandora2d/interpolation_filter/bicubic.py
  pandora2d/interpolation_filter/bicubic_cpp.py
  pandora2d/interpolation_filter/cardinal_sine.py
  pandora2d/interpolation_filter/cardinal_sine_cpp.py
  pandora2d/interpolation_filter/interpolation_filter.py
  pandora2d/margins.py
  pandora2d/matching_cost/base.py
  pandora2d/matching_cost/mutual_information.py
  pandora2d/matching_cost/pandora.py
  pandora2d/memory_estimation.py
  pandora2d/refinement/dichotomy.py
  pandora2d/refinement/dichotomy_cpp.py
  pandora2d/refinement/optical_flow.py
  pandora2d/refinement/refinement.py
  tests/unit_tests/test_disparity.py
  tests/unit_tests/test_interpolation_filter/test_bicubic.py
  tests/unit_tests/test_interpolation_filter/test_cardinal_sine.py
  tests/unit_tests/test_matching_cost/test_matching_cost_check_conf.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
  tests/unit_tests/test_memory_estimation.py
  tests/unit_tests/test_pandora2d.py
  tests/unit_tests/test_refinement/test_dichotomy.py
  tests/unit_tests/test_refinement/test_optical_flow.py
Due: black, pylint, mypy, sphinx-checking

test: update tests with new methods dataset_disp_maps and fill_dataset_disp_maps
  tests/functional_tests/matching_cost/test_disparity_margins.py
  tests/unit_tests/test_common.py
  tests/unit_tests/test_refinement/test_optical_flow.py
Due: black, pylint, mypy

feat: allocate disparity maps dataset in matching_cost_prepare
  pandora2d/common.py
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking
