Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black --line-length=120
      language: system
      files: \.py$
      stages: [pre-commit]
      types: [python]
    - id: pylint
      name: PyLint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      args: [
        "--rcfile=.pylintrc"
      ]
      stages: [pre-commit]
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ pre-commit ]
    - id: sphinx-checking
      name: Checking Sphinx building
      entry: python setup.py build_sphinx
      language: system
      files: ^(doc/.*|pandora2d/.*)$
      pass_filenames: False
      stages: [ pre-push ]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout

chore: add upload_pypi gh-action
  .github/workflows/pandora2d_ci.yml
Due: none

chore: run fuctional test on wheels
  pyproject.toml
Due: none

chore: fix shared lib with windows wheels
  pyproject.toml
Due: none

chore: split test dependencies
  pyproject.toml
Due: none

fix(cpp): 'uint' does not name a type
  pandora2d/matching_cost_cpp/include/bin.hpp
Due: sphinx-checking

chore: build wheels in parallel
  .github/workflows/pandora2d_ci.yml
Due: none

chore: fix wheel version on gh-actions
  .github/workflows/pandora2d_ci.yml
Due: none

doc: add wheel target platforms FAQ
  docs/source/userguide/faq.rst
Due: none

chore: do not build musllinux wheels
  pyproject.toml
Due: none

chore: add coverage with unit-tests
  .github/workflows/pandora2d_ci.yml
  README.md
  pyproject.toml
Due: none

chore: fix wheels testing command on windows
  pyproject.toml
Due: none

test: fix difference of behavior after py311
  tests/unit_tests/test_validity_mask.py
Due: black, pylint, mypy

test: fix compare path on windows
  tests/unit_tests/test_common.py
Due: black, pylint, mypy

chore: do not push windows coverage
  .github/workflows/pandora2d_ci.yml
Due: none

test: skip one test if windows
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy

update path
  tests/unit_tests/test_common.py
Due: black, pylint, mypy

setup: update minimal python version
  Makefile
  sonar-project.properties
Due: none

AUTHORS: update contributors and devlopment lead sections
  AUTHORS.md
Due: none

Update CHANGELOG.md for new release
  CHANGELOG.md
Due: none

sonar: update project version
  sonar-project.properties
Due: none

setup: remove python 3.8
  pyproject.toml
Due: none

pylint: update minimal version and adding a configuration
  .pylintrc
  pandora2d/estimation/phase_cross_correlation.py
  pyproject.toml
Due: black, pylint, mypy, sphinx-checking

tests: update type to check precision
  tests/performance_tests/refinement/dichotomy/test_dichotomy_performance.py
Due: black, pylint, mypy

doc: warning update due to new bug
  docs/source/userguide/step_by_step/estimation.rst
Due: none

feat: move cost volumes allocation
  pandora2d/matching_cost/base.py
  pandora2d/matching_cost/mutual_information.py
  pandora2d/matching_cost/pandora.py
Due: black, pylint, mypy, sphinx-checking

test: update test after moving cost volumes allocation
  tests/unit_tests/test_matching_cost/test_matching_cost_allocate.py
Due: black, pylint, mypy

Revert "bug: comment cardinal sine test because failed without explication"
  tests/functional_tests/refinement/dichotomy/test_dichotomy_pipeline.py
  tests/resource_tests/test_pandora2d.py
Due: black, pylint, mypy

test: compute criteria_dataarray only once
  tests/unit_tests/test_validity_mask.py
Due: black, pylint, mypy

feat: generalise get_validity_dataset to all criteria
  pandora2d/criteria.py
  tests/unit_tests/test_validity_mask.py
Due: black, pylint, mypy, sphinx-checking

feat(validity): store P2D_RIGHT_DISPARITY_OUTSIDE criteria
  pandora2d/criteria.py
  tests/unit_tests/test_validity_mask.py
Due: black, pylint, mypy, sphinx-checking

refact(validity_mask): use logical operations intead of loops
  pandora2d/criteria.py
Due: black, pylint, mypy, sphinx-checking

refact(validity): use criteria names instead of index
  pandora2d/criteria.py
Due: black, pylint, mypy, sphinx-checking

test: add P2D_RIGHT_DISPARITY_OUTSIDE tests
  tests/unit_tests/test_validity_mask.py
Due: black, pylint, mypy

test: group criteria's relative tests into directory
  tests/unit_tests/test_criteria/test_criteria.py
  tests/unit_tests/test_criteria/test_validity_mask.py
Due: black, pylint, mypy

refact(validity_mask): rename criteria sets
  pandora2d/criteria.py
  tests/unit_tests/test_criteria/test_validity_mask/test_get_validity_dataset.py
Due: black, pylint, mypy, sphinx-checking

test: reorganize test_criteria
  tests/unit_tests/test_criteria/test_criteria.py
  tests/unit_tests/test_criteria/test_data_array/conftest.py
  tests/unit_tests/test_criteria/test_data_array/test_criteria.py
  tests/unit_tests/test_criteria/test_data_array/test_get_criteria_dataarray.py
  tests/unit_tests/test_criteria/test_data_array/test_mask_border.py
  tests/unit_tests/test_criteria/test_data_array/test_mask_disparity_outside_right_image.py
  tests/unit_tests/test_criteria/test_data_array/test_mask_left_invalid.py
  tests/unit_tests/test_criteria/test_data_array/test_mask_left_nodata.py
  tests/unit_tests/test_criteria/test_data_array/test_mask_right_invalid.py
  tests/unit_tests/test_criteria/test_data_array/test_mask_right_nodata.py
  tests/unit_tests/test_criteria/test_data_array/test_peak_on_edge.py
  tests/unit_tests/test_criteria/test_data_array/test_set_unprocessed_disparity.py
  tests/unit_tests/test_criteria/test_validity_mask.py
  tests/unit_tests/test_criteria/test_validity_mask/conftest.py
  tests/unit_tests/test_criteria/test_validity_mask/test_allocate_validity_dataset.py
  tests/unit_tests/test_criteria/test_validity_mask/test_get_validity_dataset.py
  tests/unit_tests/test_criteria/test_validity_mask/test_left_border.py
  tests/unit_tests/test_criteria/test_validity_mask/test_right_disparity_output.py
  tests/unit_tests/test_criteria/test_validity_mask/test_validity_mask_band.py
Due: black, pylint, mypy
