Repository CNES/Pandora2D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking, meson

black:
  name: black
  entry: black --line-length=120
  language: system
  stages:
  - pre-commit

pylint:
  name: PyLint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --rcfile=.pylintrc
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - pre-commit

sphinx-checking:
  name: Checking Sphinx building
  entry: python setup.py build_sphinx
  language: system
  pass_filenames: false
  stages:
  - pre-push

meson:
  name: meson
  language: python
  entry: meson format -e -i
  additional_dependencies:
  - meson==1.6.1

test(validity): do not combine subpix with window_size parameters
  tests/unit_tests/test_criteria/test_validity_mask/test_right_disparity_output.py
Due: black, pylint, mypy

test(validity): add window_size to fill the mask
  tests/unit_tests/test_criteria/test_validity_mask/test_right_disparity_output.py
Due: black, pylint, mypy

feat: use invalid points instead of nans in WTA
  pandora2d/disparity/disparity.py
  pandora2d/matching_cost/pandora.py
Due: black, pylint, mypy, sphinx-checking

test: update tests with use of invalid points instead of nans
  tests/unit_tests/test_disparity.py
  tests/unit_tests/test_matching_cost/test_matching_cost_allocate.py
  tests/unit_tests/test_matching_cost/test_matching_cost_compute.py
Due: black, pylint, mypy

fix: update criteria computation to be able to use it with a step
  pandora2d/criteria.py
  pandora2d/matching_cost/base.py
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: update make_cost_volumes fixture for validity mask tests
  tests/unit_tests/test_criteria/test_validity_mask/conftest.py
  tests/unit_tests/test_criteria/test_validity_mask/test_allocate_validity_dataset.py
  tests/unit_tests/test_criteria/test_validity_mask/test_left_border.py
  tests/unit_tests/test_criteria/test_validity_mask/test_right_disparity_output.py
Due: black, pylint, mypy

test: update criteria unit tests with step
  tests/unit_tests/test_criteria/test_validity_mask/test_validity_mask_band.py
Due: black, pylint, mypy

test: add functional tests for criteria with step
  tests/functional_tests/test_criteria_pipeline.py
Due: black, pylint, mypy

test: add tests for P2D_INVALID_MASK_RIGHT in validity dataset
  tests/unit_tests/test_criteria/test_validity_mask/test_right_invalid.py
Due: black, pylint, mypy

test: add tests for P2D_INVALID_MASK_LEFT in validity dataset
  tests/unit_tests/test_criteria/test_validity_mask/test_left_invalid.py
Due: black, pylint, mypy

test: update left border band tests
  tests/unit_tests/test_criteria/test_validity_mask/test_left_border.py
Due: black, pylint, mypy

test: fix comments in test_right_disparity_output.py
  tests/unit_tests/test_criteria/test_validity_mask/test_right_disparity_output.py
Due: black, pylint, mypy

test: add tests for P2D_LEFT_NODATA in validity dataset
  tests/unit_tests/test_criteria/test_validity_mask/test_left_nodata.py
Due: black, pylint, mypy

test: add tests for P2D_RIGHT_NODATA in validity dataset
  tests/unit_tests/test_criteria/test_validity_mask/test_right_nodata.py
Due: black, pylint, mypy

feat: update validity dataset with P2D_PEAK_ON_EDGE criteria
  pandora2d/criteria.py
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: add global conftest file for criteria tests
  tests/unit_tests/test_criteria/conftest.py
  tests/unit_tests/test_criteria/test_data_array/conftest.py
Due: black, pylint, mypy

test: update unit tests for P2D_PEAK_ON_EDGE criteria
  tests/unit_tests/test_criteria/test_data_array/test_peak_on_edge.py
  tests/unit_tests/test_criteria/test_validity_mask/test_peak_on_edge.py
Due: black, pylint, mypy

test: update functional test after adding P2D_PEAK_ON_EDGE in validity dataset
  tests/functional_tests/test_criteria_pipeline.py
Due: black, pylint, mypy

fix: remove errors in logs
  pandora2d/check_configuration.py
  pandora2d/estimation/estimation.py
  pandora2d/refinement/dichotomy_cpp.py
  pandora2d/refinement/refinement.py
Due: black, pylint, mypy, sphinx-checking

test: fix test after updating log
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

fix: update pandora minimal version
  pyproject.toml
Due: none

docs: remove warning about step different from 1 with input masks
  docs/source/userguide/input.rst
  docs/source/userguide/step_by_step/matching_cost.rst
Due: none

docs: fix reference for optical flow algorithm
  docs/source/userguide/step_by_step/refinement.rst
Due: none

docs: fix errors in documentation
  docs/source/userguide/roi.rst
  docs/source/userguide/sequencing.rst
  docs/source/userguide/step_by_step/disparity.rst
Due: none

fix: correct index formula when nb_bins=NB_BINS_MAX
  pandora2d/matching_cost_cpp/src/histogram1D.cpp
  pandora2d/matching_cost_cpp/src/histogram2D.cpp
Due: sphinx-checking

doc: add documentation about criteria
  docs/source/exploring_the_field.rst
  docs/source/exploring_the_field/Images/criteria/invalid_mask_right_criteria.drawio.html
  docs/source/exploring_the_field/Images/criteria/left_border_criteria.drawio.svg
  docs/source/exploring_the_field/Images/criteria/left_invalid_mask_criteria.drawio.svg
  docs/source/exploring_the_field/Images/criteria/left_nodata_criteria.drawio.svg
  docs/source/exploring_the_field/Images/criteria/peak_on_edge_criteria.drawio.svg
  docs/source/exploring_the_field/Images/criteria/peak_on_edge_trend.drawio.svg
  docs/source/exploring_the_field/Images/criteria/right_disparity_outside_criteria.drawio.html
  docs/source/exploring_the_field/Images/criteria/right_nodata_criteria.drawio.html
  docs/source/exploring_the_field/validity_criteria.rst
  docs/source/userguide/step_by_step/matching_cost.rst
Due: none

docs: fix some SVG rendering in Firefox
  docs/source/exploring_the_field/Images/criteria/left_border_criteria.drawio.svg
  docs/source/exploring_the_field/Images/criteria/left_invalid_mask_criteria.drawio.svg
  docs/source/exploring_the_field/Images/criteria/left_nodata_criteria.drawio.svg
  docs/source/exploring_the_field/Images/criteria/peak_on_edge_criteria.drawio.svg
  docs/source/exploring_the_field/Images/criteria/peak_on_edge_trend.drawio.svg
Due: none

docs: center Draw.io html schemas
  docs/source/_static/css/my_custom.css
  docs/source/exploring_the_field/refining_disparity.rst
  docs/source/exploring_the_field/validity_criteria.rst
Due: none

fix: correct estimation usage with ROI
  pandora2d/__init__.py
  pandora2d/check_configuration.py
  pandora2d/state_machine.py
Due: black, pylint, mypy, sphinx-checking

fix: update resolve_path_in_config method
  pandora2d/common.py
Due: black, pylint, mypy, sphinx-checking

test: update unit tests for estimation check conf
  tests/unit_tests/test_check_configuration.py
Due: black, pylint, mypy

docs: update estimation documentation
  docs/source/exploring_the_field/initial_disparity.rst
  docs/source/userguide/step_by_step/estimation.rst
Due: none

test: add functional tests for estimation
  tests/conftest.py
  tests/functional_tests/test_pipelines.py
Due: black, pylint, mypy

notebook: fix estimation_step_explained.ipynb
  notebooks/estimation_step_explained.ipynb
Due: none

fix: remove P2D_DISPARITY_UNPROCESSED from validity dataset
  pandora2d/criteria.py
Due: black, pylint, mypy, sphinx-checking

test: update tests after removing P2D_DISPARITY_UNPROCESSED from validity dataset
  tests/functional_tests/test_criteria_pipeline.py
  tests/unit_tests/test_common.py
  tests/unit_tests/test_criteria/test_data_array/test_get_criteria_dataarray.py
  tests/unit_tests/test_criteria/test_validity_mask/test_allocate_validity_dataset.py
Due: black, pylint, mypy

fix: correct mask_disparity_ouside_right_image with step
  pandora2d/criteria.py
  tests/unit_tests/test_criteria/test_data_array/test_mask_disparity_outside_right_image.py
  tests/unit_tests/test_criteria/test_validity_mask/test_right_disparity_outside.py
Due: black, pylint, mypy, sphinx-checking

setup: update copyright
  tests/unit_tests/test_reporting.py
Due: black, pylint, mypy

Update CHANGELOG.md for release 0.5.0
  CHANGELOG.md
Due: none

feat: add segment_mode check configuration
  pandora2d/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  sphinx-checking: any of: ^(doc/.*|pandora2d/.*)$
  meson: any of: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
